<div class="container" id="addDeleteEditOfferContent">
    <div class="content-top">
    </div>
    <div class="content m_content">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            <div ng-include="template.header"></div>
            <div class="clearfix"></div>
            <h1 class="content-title">เปลียนหมายเลข</h1>
            <div class="content-body">
                <div ng-include="template.customerprofile" scope="" onload=""></div>
                <div ng-include="template.currentpriceplan" scope="" onload=""></div>
                <div align="center">
                    <div data-toggle="buttons" class="btn-group btn-group-justified divOfferTypeWidth">
                        <label class="btn btn-default active" ng-click="changeType('C');">
                            <input type="radio" name="type" ng-model="offerType" value="C"> สมัครบริการ
                        </label>
                        <label class="btn btn-default " ng-click="changeType('D');">
                            <input type="radio" name="type" ng-model="offerType" value="D"> ยกเลิกบริการ
                        </label>
                        <label class="btn btn-default" ng-click="changeType('U');">
                            <input type="radio" name="type" ng-model="offerType" value="U"> แก้ไขบริการ
                        </label>
                    </div>
                </div>
                <div ng-show="offerType == 'C'">
                    <h4>ข้อมูลบริการปัจจุบัน</h4>
                    <div class="well">
                        <table class="table table-striped table-bordered table-hover table-condensed" style="margin-bottom: 0px;">
                            <tr>
                                <th class="col-xs-2" style="color:green;text-align:center;vertical-align: middle;">
                                    <h>Offer Name</h>
                                </th>
                                <th class="col-xs-5" style="color:green;text-align:center;vertical-align: middle;">
                                    <h>Offer Description</h>
                                </th>
                                <th class="col-xs-1" style="color:green;text-align:center;vertical-align: middle;">
                                    <h>Effective Date</h>
                                </th>
                                <th class="col-xs-1" style="color:green;text-align:center;vertical-align: middle;">
                                    <h>Expiration Date</h>
                                </th>
                                <th class="col-xs-2" style="color:green;text-align:center;vertical-align: middle;">
                                    <h>Type</h>
                                </th>
                                <th class="col-xs-1" style="color:green;text-align:center;vertical-align: middle;">
                                    <h>Parameter</h>
                                </th>
                            </tr>
                        </table>
                        <table class="table table-striped table-bordered table-hover table-condensed" style="margin-bottom: 0px;">
                            <tr>
                                <th class="col-xs-12" style="vertical-align: middle;">
                                    <h>Related Offer</h>
                                </th>
                            </tr>
                        </table>
                        <table class="table table-striped table-bordered table-hover table-condensed" style="margin-bottom: 0px;">
                            <tr>
                                <td class="col-xs-2" style="text-align:left;vertical-align: middle;">
                                    {{RelateOffer-Name}}
                                </td>
                                <td class="col-xs-5" style="text-align:left;vertical-align: middle;">
                                    {{RelateOffer-Description}}
                                </td>
                                <td class="col-xs-1" style="text-align:left;vertical-align: middle;">
                                    {{RelateEffective-Date}}
                                </td>
                                <td class="col-xs-1" style="text-align:left;vertical-align: middle;">
                                    {{RelateExpiration-Date}}
                                </td>
                                <td class="col-xs-2" style=";text-align:left;vertical-align: middle;">
                                    {{RelateType}}
                                </td>
                                <td class="col-xs-1" style="text-align:left;vertical-align: middle;">
                                    <div align="center" class="">
                                        <button type="button" id="modalnewpriceplan" class="btn isCustomerProfile divParameterOfferButton" onclick="return false;" style="background-color: #5cb85c; border-color: #4cae4c;">
                                            <span style="color:white;">...</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped table-bordered table-hover table-condensed" style="margin-bottom: 0px;">
                            <tr>
                                <th class="col-xs-12" style="vertical-align: middle;">
                                    <h>Regular Offer</h>
                                </th>
                            </tr>
                        </table>
                        <table class="table table-striped table-bordered table-hover table-condensed" style="margin-bottom: 0px;">
                            <tr>
                                <td class="col-xs-2" style="text-align:left;vertical-align: middle;">
                                    {{RegularOffer-Name}}
                                </td>
                                <td class="col-xs-5" style="text-align:left;vertical-align: middle;">
                                    {{RegularOffer-Description}}
                                </td>
                                <td class="col-xs-1" style="text-align:left;vertical-align: middle;">
                                    {{RegularEffective-Date}}
                                </td>
                                <td class="col-xs-1" style="text-align:left;vertical-align: middle;">
                                    {{RegularExpiration-Date}}
                                </td>
                                <td class="col-xs-2" style=";text-align:left;vertical-align: middle;">
                                    {{RegularType}}
                                </td>
                                <td class="col-xs-1" style="text-align:left;vertical-align: middle;">
                                    {{RegularParameter}}
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped table-bordered table-hover table-condensed" style="margin-bottom: 0px;">
                            <tr>
                                <th class="col-xs-12" style="vertical-align: middle;">
                                    <h>Contract & Prop</h>
                                </th>
                            </tr>
                        </table>
                        <table class="table table-striped table-bordered table-hover table-condensed" style="margin-bottom: 0px;">
                            <tr>
                                <td class="col-xs-2" style="text-align:left;vertical-align: middle;">
                                    {{ContractPropOffer-Name}}
                                </td>
                                <td class="col-xs-5" style="text-align:left;vertical-align: middle;">
                                    {{ContractPropOffer-Description}}
                                </td>
                                <td class="col-xs-1" style="text-align:left;vertical-align: middle;">
                                    {{ContractPropEffective-Date}}
                                </td>
                                <td class="col-xs-1" style="text-align:left;vertical-align: middle;">
                                    {{ContractPropExpiration-Date}}
                                </td>
                                <td class="col-xs-2" style=";text-align:left;vertical-align: middle;">
                                    {{ContractPropType}}
                                </td>
                                <td class="col-xs-1" style="text-align:left;vertical-align: middle;">
                                    {{ContractPropParameter}}
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped table-bordered table-hover table-condensed" style="margin-bottom: 0px;">
                            <tr>
                                <th class="col-xs-12" style="vertical-align: middle;">
                                    <h>Discount</h>
                                </th>
                            </tr>
                        </table>
                        <table class="table table-striped table-bordered table-hover table-condensed" style="margin-bottom: 0px;">
                            <tr>
                                <td class="col-xs-2" style="text-align:left;vertical-align: middle;">
                                    {{DiscountOffer-Name}}
                                </td>
                                <td class="col-xs-5" style="text-align:left;vertical-align: middle;">
                                    {{DiscountOffer-Description}}
                                </td>
                                <td class="col-xs-1" style="text-align:left;vertical-align: middle;">
                                    {{DiscountEffective-Date}}
                                </td>
                                <td class="col-xs-1" style="text-align:left;vertical-align: middle;">
                                    {{DiscountExpiration-Date}}
                                </td>
                                <td class="col-xs-2" style=";text-align:left;vertical-align: middle;">
                                    {{DiscountType}}
                                </td>
                                <td class="col-xs-1" style="text-align:left;vertical-align: middle;">
                                    {{DiscountParameter}}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <h4>ข้อมูลบริการใหม่</h4>
                    <div class="well">
                        <h4>Relate Offer</h4>
                        <table class="table table-striped table-bordered table-hover table-condensed" style="margin-bottom: 0px;">
                            <tr>
                                <th class="col-xs-1" style="color:green;text-align:center;vertical-align: middle;">
                                    <h>สมัคร</h>
                                </th>
                                <th class="col-xs-3" style="color:green;text-align:center;vertical-align: middle;">
                                    <h>Relate Offer Name</h>
                                </th>
                                <th class="col-xs-4" style="color:green;text-align:center;vertical-align: middle;">
                                    <h>Offer Description</h>
                                </th>
                                <th class="col-xs-2" style="color:green;text-align:center;vertical-align: middle;">
                                    <h>Type</h>
                                </th>
                                <th class="col-xs-1" style="color:green;text-align:center;vertical-align: middle;">
                                    <h>Parameter</h>
                                </th>
                                <th class="col-xs-1 " style="color:green;text-align:center;vertical-align: middle;">
                                    <h></h>
                                </th>
                            </tr>
                        </table>
                        <table class="table table-striped table-bordered table-hover table-condensed" style="margin-bottom: 0px;">
                            <tr>
                                <td class="col-xs-1" style="text-align:center;vertical-align: middle;">
                                    <input type="checkbox" class="styled" class="checkbox checkbox-circle2 checkbox-inline">
                                </td>
                                <td class="col-xs-3" style="text-align:center;vertical-align: middle;">
                                    <h>Relate Offer Name</h>
                                </td>
                                <td class="col-xs-4" style="text-align:center;vertical-align: middle;">
                                    <h>Offer Description</h>
                                </td>
                                <td class="col-xs-2" style="text-align:center;vertical-align: middle;">
                                    <h>Type</h>
                                </td>
                                <td class="col-xs-1" style="text-align:center;vertical-align: middle;">
                                    <h>Parameter</h>
                                </td>
                                <td class="col-xs-1 " style="text-align:center;vertical-align: middle;">
                                    <h></h>
                                </td>
                            </tr>
                        </table>
                        <h4>Regular Offer</h4>
                        <table class="table table-striped table-bordered table-hover table-condensed" style="margin-bottom: 0px;">
                            <tr>
                                <th class="col-xs-1" style="color:green;text-align:center;vertical-align: middle;">
                                    <h>ลบ</h>
                                </th>
                                <th class="col-xs-3" style="color:green;text-align:center;vertical-align: middle;">
                                    <h>Regular Offer Name</h>
                                </th>
                                <th class="col-xs-4" style="color:green;text-align:center;vertical-align: middle;">
                                    <h>Offer Description</h>
                                </th>
                                <th class="col-xs-2" style="color:green;text-align:center;vertical-align: middle;">
                                    <h>Type</h>
                                </th>
                                <th class="col-xs-1" style="color:green;text-align:center;vertical-align: middle;">
                                    <h>Parameter</h>
                                </th>
                                <th class="col-xs-1" style="color:green;text-align:center;vertical-align: middle;">
                                    <h>Level</h>
                                </th>
                            </tr>
                        </table>
                        <table class="table table-striped table-bordered table-hover table-condensed" style="margin-bottom: 0px;">
                            <tr>
                                <td class="col-xs-1" style="text-align:center;vertical-align: middle;">
                                    <a ng-click=""><span><i class="fa fa-trash-o fa-1x"></i></span></a>
                                </td>
                                <td class="col-xs-3" style="text-align:center;vertical-align: middle;">
                                    <h>Regular Offer Name</h>
                                </td>
                                <td class="col-xs-4" style="text-align:center;vertical-align: middle;">
                                    <h>Offer Description</h>
                                </td>
                                <td class="col-xs-2" style="text-align:center;vertical-align: middle;">
                                    <h>Type</h>
                                </td>
                                <td class="col-xs-1" style="text-align:center;vertical-align: middle;">
                                    <a ng-click=""><span><i class="fa fa-star fa-1x" style="color: #ffa620;"></i></span></a>
                                </td>
                                <td class="col-xs-1 " style="text-align:center;vertical-align: middle;">
                                    <h>Level</h>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- ####################### Start delete ############################# -->
                <div ng-show="offerType == 'D'">
                    <h4>ข้อมูลบริการปัจจุบัน</h4>
                    <div class="well">
                        <table class="table table-striped table-bordered table-hover table-condensed" style="margin-bottom: 0px;">
                            <tr>
                                <th class="col-xs-1" style="color:green;text-align:center;vertical-align: middle;">
                                    <h>ยกเลิก</h>
                                </th>
                                <th class="col-xs-2" style="color:green;text-align:center;vertical-align: middle;">
                                    <h>Offer Name</h>
                                </th>
                                <th class="col-xs-4" style="color:green;text-align:center;vertical-align: middle;">
                                    <h>Offer Description</h>
                                </th>
                                <th class="col-xs-1" style="color:green;text-align:center;vertical-align: middle;">
                                    <h>Effective Date</h>
                                </th>
                                <th class="col-xs-1" style="color:green;text-align:center;vertical-align: middle;">
                                    <h>Expiration Date</h>
                                </th>
                                <th class="col-xs-2" style="color:green;text-align:center;vertical-align: middle;">
                                    <h>Type</h>
                                </th>
                                <th class="col-xs-1" style="color:green;text-align:center;vertical-align: middle;">
                                    <h>Parameter</h>
                                </th>
                            </tr>
                        </table>
                        <table class="table table-striped table-bordered table-hover table-condensed" style="margin-bottom: 0px;">
                            <tr>
                                <th class="col-xs-12" style="vertical-align: middle;">
                                    <h>Related Offer</h>
                                </th>
                            </tr>
                        </table>
                        <table class="table table-striped table-bordered table-hover table-condensed" style="margin-bottom: 0px;">
                            <tr>
                                <td class="col-xs-1" style="text-align:center;vertical-align: middle;">
                                    <input type="checkbox" class="styled" class="checkbox checkbox-circle2 checkbox-inline">
                                </td>
                                <td class="col-xs-2" style="text-align:left;vertical-align: middle;">
                                    {{RelateOffer-Name}}
                                </td>
                                <td class="col-xs-4" style="text-align:left;vertical-align: middle;">
                                    {{RelateOffer-Description}}
                                </td>
                                <td class="col-xs-1" style="text-align:left;vertical-align: middle;">
                                    {{RelateEffective-Date}}
                                </td>
                                <td class="col-xs-1" style="text-align:left;vertical-align: middle;">
                                    {{RelateExpiration-Date}}
                                </td>
                                <td class="col-xs-2" style=";text-align:left;vertical-align: middle;">
                                    {{RelateType}}
                                </td>
                                <td class="col-xs-1" style="text-align:left;vertical-align: middle;">
                                    <!-- <div align="center" class="">
                                        <button type="button" id="modalnewpriceplan" class="btn isCustomerProfile divParameterOfferButton" onclick="return false;" style="background-color: #5cb85c; border-color: #4cae4c;">
                                            <span style="color:white;">...</span>
                                        </button>
                                    </div> -->
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped table-bordered table-hover table-condensed" style="margin-bottom: 0px;">
                            <tr>
                                <th class="col-xs-12" style="vertical-align: middle;">
                                    <h>Regular Offer</h>
                                </th>
                            </tr>
                        </table>
                        <table class="table table-striped table-bordered table-hover table-condensed" style="margin-bottom: 0px;">
                            <tr>
                                <td class="col-xs-1" style="text-align:center;vertical-align: middle;">
                                    <input type="checkbox" class="styled" class="checkbox checkbox-circle2 checkbox-inline">
                                </td>
                                <td class="col-xs-2" style="text-align:left;vertical-align: middle;">
                                    {{RegularOffer-Name}}
                                </td>
                                <td class="col-xs-4" style="text-align:left;vertical-align: middle;">
                                    {{RegularOffer-Description}}
                                </td>
                                <td class="col-xs-1" style="text-align:left;vertical-align: middle;">
                                    {{RegularEffective-Date}}
                                </td>
                                <td class="col-xs-1" style="text-align:left;vertical-align: middle;">
                                    {{RegularExpiration-Date}}
                                </td>
                                <td class="col-xs-2" style=";text-align:left;vertical-align: middle;">
                                    {{RegularType}}
                                </td>
                                <td class="col-xs-1" style="text-align:left;vertical-align: middle;">
                                    {{RegularParameter}}
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped table-bordered table-hover table-condensed" style="margin-bottom: 0px;">
                            <tr>
                                <th class="col-xs-12" style="vertical-align: middle;">
                                    <h>Contract & Prop</h>
                                </th>
                            </tr>
                        </table>
                        <table class="table table-striped table-bordered table-hover table-condensed" style="margin-bottom: 0px;">
                            <tr>
                                <td class="col-xs-1" style="text-align:center;vertical-align: middle;">
                                    <input type="checkbox" class="styled" class="checkbox checkbox-circle2 checkbox-inline">
                                </td>
                                <td class="col-xs-2" style="text-align:left;vertical-align: middle;">
                                    {{ContractPropOffer-Name}}
                                </td>
                                <td class="col-xs-4" style="text-align:left;vertical-align: middle;">
                                    {{ContractPropOffer-Description}}
                                </td>
                                <td class="col-xs-1" style="text-align:left;vertical-align: middle;">
                                    {{ContractPropEffective-Date}}
                                </td>
                                <td class="col-xs-1" style="text-align:left;vertical-align: middle;">
                                    {{ContractPropExpiration-Date}}
                                </td>
                                <td class="col-xs-2" style=";text-align:left;vertical-align: middle;">
                                    {{ContractPropType}}
                                </td>
                                <td class="col-xs-1" style="text-align:left;vertical-align: middle;">
                                    {{ContractPropParameter}}
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped table-bordered table-hover table-condensed" style="margin-bottom: 0px;">
                            <tr>
                                <th class="col-xs-12" style="vertical-align: middle;">
                                    <h>Discount</h>
                                </th>
                            </tr>
                        </table>
                        <table class="table table-striped table-bordered table-hover table-condensed" style="margin-bottom: 0px;">
                            <tr>
                                <td class="col-xs-1" style="text-align:center;vertical-align: middle;">
                                    <input type="checkbox" class="styled" class="checkbox checkbox-circle2 checkbox-inline">
                                </td>
                                <td class="col-xs-2" style="text-align:left;vertical-align: middle;">
                                    {{DiscountOffer-Name}}
                                </td>
                                <td class="col-xs-4" style="text-align:left;vertical-align: middle;">
                                    {{DiscountOffer-Description}}
                                </td>
                                <td class="col-xs-1" style="text-align:left;vertical-align: middle;">
                                    {{DiscountEffective-Date}}
                                </td>
                                <td class="col-xs-1" style="text-align:left;vertical-align: middle;">
                                    {{DiscountExpiration-Date}}
                                </td>
                                <td class="col-xs-2" style=";text-align:left;vertical-align: middle;">
                                    {{DiscountType}}
                                </td>
                                <td class="col-xs-1" style="text-align:left;vertical-align: middle;">
                                    {{DiscountParameter}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- ####################### End delete ############################# -->
                <div class="col-md-6" ng-hide="offerType == 'U'">
                    <h4>มีผลเมื่อ </h4>
                    <div class="row">
                        <div class="col-md-12">
                            <div data-toggle="buttons" id="divEffer" class="btn-group btn-group-justified ">
                                <label id="efferNow" class="btn btn-default active" onclick="$('.date-picker-start').val('');" ng-click="onEffectiveDate('IMMEDIATE')">
                                    <input type="radio" name="date" autocomplete="off" class="radio_ck" checked> ทันที
                                </label>
                                <label id="efferManual" class="btn btn-default form-group has-feedback " ng-click="onEffectiveDate('FUTURE')">
                                    <div class="form-group has-feedback">
                                        <div class="col-xs-3">
                                            <span class="col-xs-2" style="float: right; top: 14px; margin-top:-8px;">ระบุวันที่ </span>
                                            <input type="radio" name="date" autocomplete="off" class="enable_tb col-xs-8" value="specify">
                                        </div>
                                        <div class="col-xs-7" style="margin-top:-5px; margin-bottom:-5px;">
                                            <div class="form-group has-feedback imp" style="top:5px;">
                                                <input type="text" ng-model="saveData['manualBillDate']" id="txtDateManual" class="form-control dateManual date-picker-start dateFormat" style="height:30px;width:130%;" maxlength="10">
                                                <span class="form-control-feedback is-bound" style="right: -30%;"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" ng-show="offerType == 'C'">
                    <h4>สิ้นสุดเมื่อ </h4>
                    <div class="row">
                        <div class="col-md-12">
                            <div data-toggle="buttons" id="divExpire" class="btn-group btn-group-justified ">
                                <label id="noExpire" class="btn btn-default active" onclick="$('.date-picker-start').val('');" ng-click="onEffectiveDate('noExpire')">
                                    <input type="radio" name="date" autocomplete="off" class="radio_ck" checked> ไม่มีกำหนด
                                </label>
                                <label id="manualExpire" class="btn btn-default form-group has-feedback " ng-click="onEffectiveDate('manualExpire')">
                                    <div class="form-group has-feedback">
                                        <div class="col-xs-3">
                                            <span class="col-xs-2" style="float: right; top: 14px; margin-top:-8px;">ระบุวันที่ </span>
                                            <input type="radio" name="date" autocomplete="off" class="enable_tb col-xs-8" value="specify">
                                        </div>
                                        <div class="col-xs-7" style="margin-top:-5px; margin-bottom:-5px;">
                                            <div class="form-group has-feedback imp" style="top:5px;">
                                                <input type="text" ng-change="changeValueDatePicker()" ng-model="saveData['manualExpire']" id="txtManualExpire" class="form-control dateManual date-picker-start dateFormat" style="height:30px;width:130%;" maxlength="10">
                                                <span class="form-control-feedback is-bound" style="right: -30%;"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ####################### Start Edit ############################# -->
    <div ng-show="offerType == 'U'">
        <h4>ข้อมูลบริการปัจจุบัน</h4>
        <div class="well">
            <table class="table table-striped table-bordered table-hover table-condensed" style="margin-bottom: 0px;">
                <tr>
                    <th class="col-xw-1" style="color:green;text-align:center;vertical-align: middle;">
                        <h>แก้ไข</h>
                    </th>
                    <th class="col-xw-3" style="color:green;text-align:center;vertical-align: middle;">
                        <h>Offer Name</h>
                    </th>
                    <th class="col-xw-4" style="color:green;text-align:center;vertical-align: middle;">
                        <h>Offer Description</h>
                    </th>
                    <th class="col-xw-2" style="color:green;text-align:center;vertical-align: middle;">
                        <h>Effective Date</h>
                    </th>
                    <th class="col-xw-2" style="color:green;text-align:center;vertical-align: middle;">
                        <h>Expiration Date</h>
                    </th>
                    <th class="col-xw-4" style="color:green;text-align:center;vertical-align: middle;">
                        <h>New Expiration Date</h>
                    </th>
                    <th class="col-xw-2" style="color:green;text-align:center;vertical-align: middle;">
                        <h>Type</h>
                    </th>
                    <th class="col-xw-1" style="color:green;text-align:center;vertical-align: middle;">
                        <h>Param</h>
                    </th>
                    <th class="col-xw-1" style="color:green;text-align:center;vertical-align: middle;">
                        <h>New Param</h>
                    </th>
                </tr>
            </table>
            <table class="table table-striped table-bordered table-hover table-condensed" style="margin-bottom: 0px;">
                <tr>
                    <th class="col-xs-12" style="vertical-align: middle;">
                        <h>Related Offer</h>
                    </th>
                </tr>
            </table>
            <table class="table table-striped table-bordered table-hover table-condensed" style="margin-bottom: 0px;">
                <tr>
                    <td class="col-xw-1" style="text-align:center;vertical-align: middle;">
                        <input type="checkbox" class="styled" class="checkbox checkbox-circle2 checkbox-inline">
                    </td>
                    <td class="col-xw-3" style="text-align:left;vertical-align: middle;">
                        {{RelateOffer-Name}}
                    </td>
                    <td class="col-xw-4" style="text-align:left;vertical-align: middle;">
                        {{RelateOffer-Description}}
                    </td>
                    <td class="col-xw-2" style="text-align:left;vertical-align: middle;">
                        {{RelateEffective-Date}}
                    </td>
                    <td class="col-xw-2" style="text-align:left;vertical-align: middle;">
                        {{RelateExpiration-Date}}
                    </td>
                    <td class="col-xw-4" style="text-align:left;vertical-align: middle;">
                        {{RelateNewExpiration-Date}}
                    </td>
                    <td class="col-xw-2" style=";text-align:left;vertical-align: middle;">
                        {{RelateType}}
                    </td>
                    <td class="col-xw-1" style="text-align:left;vertical-align: middle;">
                        <div align="center" class="">
                            <button type="button" id="modalnewpriceplan" class="btn isCustomerProfile divParameterOfferButton" onclick="return false;" 
                            style="background-color: #5cb85c; border-color: #4cae4c;" align="center">
                                <span style="color:white;">...</span>
                            </button>
                        </div>
                    </td>
                    <td class="col-xw-1" style="vertical-align: middle;">
                        <a ng-click=""><span><i class="fa fa-edit fa-1x"></i></span></a>
                    </td>
                </tr>
            </table>

            <table class="table table-striped table-bordered table-hover table-condensed" style="margin-bottom: 0px;">
                <tr>
                    <th class="col-xs-12" style="vertical-align: middle;">
                        <h>Regular Offer</h>
                    </th>
                </tr>
            </table>
            <table class="table table-striped table-bordered table-hover table-condensed" style="margin-bottom: 0px;">
                <tr>
                    <td class="col-xw-1" style="text-align:center;vertical-align: middle;">
                        <input type="checkbox" class="styled" class="checkbox checkbox-circle2 checkbox-inline">
                    </td>
                    <td class="col-xw-3" style="text-align:left;vertical-align: middle;">
                        {{RegularOffer-Name}}
                    </td>
                    <td class="col-xw-4" style="text-align:left;vertical-align: middle;">
                        {{RegularOffer-Description}}
                    </td>
                    <td class="col-xw-2" style="text-align:left;vertical-align: middle;">
                        {{RegularEffective-Date}}
                    </td>
                    <td class="col-xw-2" style="text-align:left;vertical-align: middle;">
                        {{RegularExpiration-Date}}
                    </td>
                    <td class="col-xw-4" style="text-align:left;vertical-align: middle;">
                        {{RegularNewExpiration-Date}}
                    </td>
                    <td class="col-xw-2" style=";text-align:left;vertical-align: middle;">
                        {{RegularType}}
                    </td>
                    <td class="col-xw-1" style="text-align:left;vertical-align: middle;">
                        {{RegularParameter}}
                    </td>
                     <td class="col-xw-1" style="text-align:left;vertical-align: middle;">
                        {{RegularNewParameter}}
                    </td>
                </tr>
            </table>
            <table class="table table-striped table-bordered table-hover table-condensed" style="margin-bottom: 0px;">
                <tr>
                    <th class="col-xs-12" style="vertical-align: middle;">
                        <h>Contract & Prop</h>
                    </th>
                </tr>
            </table>
            <table class="table table-striped table-bordered table-hover table-condensed" style="margin-bottom: 0px;">
                <tr>
                    <td class="col-xw-1" style="text-align:center;vertical-align: middle;">
                        <input type="checkbox" class="styled" class="checkbox checkbox-circle2 checkbox-inline">
                    </td>
                    <td class="col-xw-3" style="text-align:left;vertical-align: middle;">
                        {{ContractPropOffer-Name}}
                    </td>
                    <td class="col-xw-4" style="text-align:left;vertical-align: middle;">
                        {{ContractPropOffer-Description}}
                    </td>
                    <td class="col-xw-2" style="text-align:left;vertical-align: middle;">
                        {{ContractPropEffective-Date}}
                    </td>
                    <td class="col-xw-2" style="text-align:left;vertical-align: middle;">
                        {{ContractPropExpiration-Date}}
                    </td>
                     <td class="col-xw-4" style="text-align:left;vertical-align: middle;">
                        {{ContractPropNewExpiration-Date}}
                    </td>
                    <td class="col-xw-2" style=";text-align:left;vertical-align: middle;">
                        {{ContractPropType}}
                    </td>
                    <td class="col-xw-1" style="text-align:left;vertical-align: middle;">
                        {{ContractPropParameter}}
                    </td>
                    <td class="col-xw-1" style="text-align:left;vertical-align: middle;">
                        {{ContractPropNewParameter}}
                    </td>
                </tr>
            </table>
            <table class="table table-striped table-bordered table-hover table-condensed" style="margin-bottom: 0px;">
                <tr>
                    <th class="col-xs-12" style="vertical-align: middle;">
                        <h>Discount</h>
                    </th>
                </tr>
            </table>
            <table class="table table-striped table-bordered table-hover table-condensed" style="margin-bottom: 0px;">
                <tr>
                    <td class="col-xw-1" style="text-align:center;vertical-align: middle;">
                        <input type="checkbox" class="styled" class="checkbox checkbox-circle2 checkbox-inline">
                    </td>
                    <td class="col-xw-3" style="text-align:left;vertical-align: middle;">
                        {{DiscountOffer-Name}}
                    </td>
                    <td class="col-xw-4" style="text-align:left;vertical-align: middle;">
                        {{DiscountOffer-Description}}
                    </td>
                    <td class="col-xw-2" style="text-align:left;vertical-align: middle;">
                        {{DiscountEffective-Date}}
                    </td>
                    <td class="col-xw-2" style="text-align:left;vertical-align: middle;">
                        {{DiscountExpiration-Date}}
                    </td>
                    <td class="col-xw-4" style="text-align:left;vertical-align: middle;">
                        {{DiscountNewExpiration-Date}}
                    </td>
                    <td class="col-xw-2" style=";text-align:left;vertical-align: middle;">
                        {{DiscountType}}
                    </td>
                    <td class="col-xw-1" style="text-align:left;vertical-align: middle;">
                        {{DiscountParameter}}
                    </td>
                    <td class="col-xw-1" style="text-align:left;vertical-align: middle;">
                        {{DiscountNewParameter}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- ####################### End Edit ############################# -->
    <div id="modal-pdf" tabindsex="-1" class="modal fade" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="width:85%">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>
                                PDF
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </h4>
                </div>
                <div class="modal-body modalBodyDivStyle">
                    <iframe class="modalBodyIframeStyle" id="iframePDF" frameborder="0" scrolling="yes">
                        <p>It appears your web browser doesn't support iframes.</p>
                    </iframe>
                </div>
                <div class="modal-footer">
                    <span ng-show="shopType=='0'"><input type="button" href="#modal-pdf" value="ยืนยันและพิมพ์เอกสาร" data-toggle="modal" onclick="printObjectPdf();" ng-click="confirmPrint()" class="btn btn-success"></span>
                    <span><input type="button" href="#modal-pdf" value="ยืนยัน" data-toggle="modal" ng-click="confirmPrint()" class="btn btn-success"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 form-buttons">
        <div class="form-group">
            <!-- <input ng-click="logDataBeforeSubmit()" type="button" value="debug"/> -->
            <input type="submit" value="พิมพ์" class="btn btn-success" ng-click="openPDFDialog()" ng-disabled="!isCustomerProfile" />
            <input id="modalPDFOpener" type="hidden" href="#modal-pdf" data-toggle="modal" />
            <input type="reset" value="ยกเลิก" class="btn btn-cancel" onclick="window.close()">
        </div>
    </div>
</div>
