
<div ng-include="template.landingheader"></div>
<div class="container" id="cancelOrderContent">
    <div class="content m_content">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            <h4>Cancel Order (before install)</h4>
            <div ng-include="template.customerprofile" scope="" onload=""></div>
            <h4>ข้อมูลปัจจุบัน</h4>
            <div class="well" style="background-color:#ffffff">
                <div class="row">
                    <div class="col-md-8">
                        <div class="well">
                            <div class="row">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="col-md-4 control-label"><b>Order ID:</b></label>
                                                <label class="col-md-4 control-label" style="text-align:left;"><b>654321</b></label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="col-md-4 control-label">หมายเลขสมาชิก True Life:</label>
                                                <label class="col-md-4 control-label" style="text-align:left;">-</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="col-md-4 control-label">Convergence Profile:</label>
                                                <label class="col-md-4 control-label" style="text-align:left;">-</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="col-md-4 control-label">หมายเลข True Online:</label>
                                                <label class="col-md-4 control-label" style="text-align:left;">-</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="col-md-4 control-label">หมายเลข Fixedline Plus:</label>
                                                <label class="col-md-4 control-label" style="text-align:left;">-</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="col-md-4 control-label">หมายเลขสมาชิก True Visions:</label>
                                                <label class="col-md-4 control-label" style="text-align:left;">1647996</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="col-md-4 control-label">หมายเลขโทรศัพท์ True Move H:</label>
                                                <label class="col-md-4 control-label" style="text-align:left;">-</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="well">
                            <div class="row">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="col-md-4 control-label"><b>Order ID:</b></label>
                                                <label class="col-md-4 control-label" style="text-align:left;"><b>654321</b></label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="col-md-4 control-label">หมายเลขสมาชิก True Life:</label>
                                                <label class="col-md-4 control-label" style="text-align:left;">479999979156</label>
                                            </div>
                                        </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label class="col-md-4 control-label">Convergence Profile:</label>
                                                    <label class="col-md-4 control-label" style="text-align:left;">SOOKX3</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label class="col-md-4 control-label">หมายเลข True Online:</label>
                                                    <label class="col-md-4 control-label" style="text-align:left;">9500007843</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label class="col-md-4 control-label">หมายเลข Fixedline Plus:</label>
                                                    <label class="col-md-4 control-label" style="text-align:left;">023145654</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label class="col-md-4 control-label">หมายเลขสมาชิก True Visions:</label>
                                                    <label class="col-md-4 control-label" style="text-align:left;">3415678</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label class="col-md-4 control-label">หมายเลขโทรศัพท์ True Move H:</label>
                                                    <label class="col-md-4 control-label" style="text-align:left;">0895463415</label>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h4>ข้อมูลใหม่</h4>
            <div class="well">
                
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group imp">
                            <label>เหตุผล</label>
                            <select class="form-control">
                                <!--<option>เลือก</option>-->
                            </select>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-md-12 form-buttons">
                <div class="form-group">
                    
                    <input type="submit" value="ยินยันการแก้ไข" class="btn btn-success">
                    <input type="reset" value="ยกเลิก" class="btn btn-cancel" onclick="parent.jQuery.fancybox.close()">
                </div>
            </div>
        </div>        
    </div>
</div>

