<div class="container" id="changeSwapSimContent" ng-init="onload()">
    <div class="content-top">
    </div>
    <div class="content m_content">
        <div class="col-md-1"></div>
        <div class="col-md-11">



            <div ng-include="template.header"></div>


            <div class="clearfix"></div>
            <h1 class="content-title">เปลี่ยนซิมการ์ด</h1>
            <div class="content-body">
                <div ng-include="template.customerprofile" onload="onCustomerProfileTemplateLoaded()"></div>

                <div class="row">
                    <div class="col-md-6" style="margin-top:-10px;">
                        <h4>ข้อมูลปัจจุบัน</h4>
                        <div class="well" style="background-color:#ffffff;">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                <p>&nbsp;</p>
                                    &nbsp;
                                    <div class="row">
                                        <div class="col-md-4" style="margin-top:-12.5px;">
                                            <div class="checkbox checkbox-circle2 checkbox-inline authorize">
                                                <input id="checkBox4g" ng-disabled="true" type="checkbox" class="styled" ng-model="data.simData['is-4g']">
                                                <label for="checkBox4g"><b style="position:relative;top:4px;">4G</b></label>
                                            </div>
                                        </div>
                                    </div>
                                    <p></p>

                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    &nbsp;
                                    <div>
                                        <div class="row">
                                            <div class="col-md-4"><b>บริษัท</b></div>
                                        </div>
                                        <p></p>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <input type="text" class="form-control" ng-model="data.simData['company-code-desc']" disabled />
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="(shopType=='1' && getAuthen['isSecondAuthen'] == true) || getAuthen['userGroup'] == 'TELESALES'">
                                        <p>&nbsp;</p>
                                        <div class="row" >
                                            <div class="col-md-4" style="margin-top:-18px;"><b>ประเภทอุปกรณ์ <span style="color:red;">*</span> </b></div>
                                        </div>
                                        &nbsp;
                                        <div class="row">
                                            <div class="col-md-12" ng-form="deviceTypeForm" style="margin-top:-3px;">
                                                <select ng-model="deviceType" ng-disabled="!isCustomerProfile" name="deviceTypeDropdown" ng-change="onClearSim()" class="form-control" required>
                                                    <option value="">Please Select</option>
                                                    <option ng-repeat="device in deviceTypeList" value="{{ device['device-code'] }}">{{ device.deviceType }}</option>
                                                </select>
                                                <span class="error" style="color:red;" ng-show="hasSubmitted && deviceTypeForm.deviceTypeDropdown.$error.required">
                                                    Required!
                                                </span>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    &nbsp;
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-6" style="margin-top:-10px;">
                        <h4>ข้อมูลซิมใหม่</h4>
                        <div class="well" style="background-color:#ffffff;">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    <!-- <div ng-show="!dealerCodeList || !dealerCodeList.length || dealerCodeList.length > 1"> -->
                                    <div>
                                        <p></p>
                                        <div ng-show="
                                        (SubNo=='null' && isCustomerProfile==false && productCodes) || 
                                        (SubNo=='null' && !shopType) || 
                                        (shopType=='0') || 
                                        (shopType=='1' && getAuthen['isSecondAuthen'] == false && dealerCodeList.length >= 1) || (shopType=='1' && getAuthen['isSecondAuthen'] == true && dealerCodeList.length > 1)" class="row">
                                            <div class="col-md-6"><b>รหัสร้านค้า <span style="color:red;">*</span> </b></div>
                                        </div>
                                        <p></p>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <!-- <input id="dealerCodeInput" 
                                                       ng-show="!dealerCodeList || !dealerCodeList.length" 
                                                       ng-numeric-input type="text" 
                                                       class="form-control" 
                                                       ng-model="dealerCode" 
                                                       ng-change="onInputDealerCode()" 
                                                       ng-disabled="!isCustomerProfile"
                                                       maxlength="{{ dealerCodeLength }}" required /> -->
                                                <input id="dealerCodeInput" 
                                                       ng-show="
                                                       (SubNo=='null' && isCustomerProfile==false && productCodes) || 
                                                       (SubNo=='null' && !shopType) || 
                                                       (shopType=='0' && dealerCodeList.length <= 1) || 
                                                       (shopType=='1' && getAuthen['isSecondAuthen'] == false && dealerCodeList.length == 1)" 
                                                       ng-numeric-input type="text" 
                                                       class="form-control" 
                                                       ng-model="dealerCode" 
                                                       ng-change="onInputDealerCode()" 
                                                       ng-disabled="!isCustomerProfile || (shopType=='1' && getAuthen['isSecondAuthen'] == false && dealerCodeList.length == 1) || (shopType=='1' && getAuthen['isSecondAuthen'] == true) || getAuthen['userGroup'] == 'TELESALES'"
                                                       maxlength="{{ dealerCodeLength }}" required />

                                                <span class="error" style="color:red;" ng-show="!dealerCodeValid && alreadyValidatedDealerCode">
                                                    Shop Code / Dealer Code ไม่ถูกต้อง
                                                </span>

                                                <select id="dealerCodeList" ng-disabled="!isCustomerProfile" ng-show="dealerCodeList.length > 1" class="form-control" ng-model="dealerCode" ng-change="onClearSim()" required>
                                                    <option value="">Please Select</option>
                                                    <option ng-repeat="code in dealerCodeList" value="{{ code }}">{{ code }}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <p></p>
                                    </div>
                                    <!-- <div ng-show="shopType=='1' && getAuthen['isSecondAuthen'] == false && dealerCodeList.length == 1">
                                        <p></p>
                                        <div class="row">
                                            <div class="col-md-6"><b>Shop Code / Dealer Code <span style="color:red;">*</span> </b></div>
                                        </div>
                                        <p></p>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <input 
                                                       class="form-control" 
                                                       ng-model="dealerCode" 
                                                       ng-disabled="true"
                                                       ng-change="onInputDealerCode()" 
                                                       maxlength="{{ dealerCodeLength }}" required />

                                                <span class="error" style="color:red;" ng-show="!dealerCodeValid && alreadyValidatedDealerCode">
                                                    Shop Code / Dealer Code ไม่ถูกต้อง
                                                </span>

                                                <select id="dealerCodeList" ng-show="dealerCodeList.length > 1" class="form-control" ng-model="dealerCode" required>
                                                    <option value="">Please Select</option>
                                                    <option ng-repeat="code in dealerCodeList" value="{{ code }}">{{ code }}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <p></p>
                                    </div> -->
                                    <div ng-show="(shopType=='1' && getAuthen['isSecondAuthen'] == true) || getAuthen['userGroup'] == 'TELESALES'">
                                        <div class="row">
                                            <div class="col-md-4"><b>รหัสสินค้า</b></div>
                                        </div>
                                        <p></p>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <input type="text" class="form-control" ng-model="productCodes" disabled />
                                            </div>
                                        </div>
                                        <p></p>
                                        <div class="row">
                                            <div class="col-md-4"><b>ประเภทซิม</b></div>
                                        </div>
                                        <p></p>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <input type="text" class="form-control" ng-model="simType" disabled />
                                            </div>
                                        </div>
                                    </div>
                                    <p></p>
                                    <div class="row">
                                        <div class="col-md-12"><b>หมายเลขซิมการ์ดใหม่ <span style="color:red;">*</span> </b></div>
                                    </div>
                                    <p></p>
                                    <div class="row" ng-form="simSerialForm">
                                        <div class="col-md-12">
                                            <input id="simSerial"
                                                   ng-numeric-input type="text"
                                                   name="simSerialInput"
                                                   class="form-control"
                                                   ng-model="simSerial"
                                                   ng-change="onInputSIMSerial()"
                                                   ng-disabled="!isCustomerProfile || (shopType=='1' && getAuthen['isSecondAuthen'] == true && !deviceType)  || (shopType=='1' && dealerCode.length != 8) || (shopType=='1' && getAuthen['shopType'].length==0 && dealerCodeValid==false) || (dealerCode.length != 8)  || (shopType=='0' && dealerCodeValid==false)"
                                                   maxlength="{{ simSerialLength }}" required />
                                                   <button title="อ่านบาร์โค้ด" ng-disabled="!isCustomerProfile || (shopType=='1' && getAuthen['isSecondAuthen'] == true && !deviceType)  || (shopType=='1' && dealerCode.length != 8) || (shopType=='1' && getAuthen['shopType'].length==0 && dealerCodeValid==false) || (dealerCode.length != 8)  || (shopType=='0' && dealerCodeValid==false)" type="button" data-toggle="tooltip" class="btn credit_ie8 idBtnReadCard_android" onclick="checkReadBarcode_Android();"><i class="fa fa-credit-card"></i></button>
                                            <!-- ng-disabled="!dealerCode || !dealerCodeValid || !SubNo || !productCodes" -->

                                            <span class="error" style="color:red;" ng-show="hasSubmitted && simSerialForm.simSerialInput.$error.required">
                                                Required!
                                            </span>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            &nbsp;
                        </div>
                    </div>
                </div>
            </div>

            <div id="modal-pdf" tabindex="-1" class="modal fade" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal_pdf_width">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4>
                                PDF
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </h4>
                        </div>
                        
                         <div class="modal-body modalBodyDivStyle">
                            <h4 id="loadingPrint" style="width=100%;text-align:center;display:none;">กำลังพิมพ์...</h4>
						    <iframe class="modalBodyIframeStyle" id="iframePDF" name="iframePDF" frameborder="0" scrolling="yes">
						        <p>It appears your web browser doesn't support iframes.</p>
						    </iframe>
						</div>

                        <div class="modal-footer">
                            <span ng-show="(shopType === '1' && getAuthen['isSecondAuthen'] === false) || shopType === '0'">
                                <input type="button" href="#modal-pdf" value="ยืนยันและพิมพ์เอกสาร" data-toggle="modal" ng-click="printAndSaveOrder()" class="btn btn-success" />
                            </span>
                            <span>
                                <input type="button" href="#modal-pdf" value="ยืนยัน" data-toggle="modal" ng-click="submit()" class="btn btn-success" />
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 form-buttons" style="margin-top:-10px;">
                <div class="form-group">
                    <input ng-if="shopType === '0'" type="submit" value="พิมพ์" class="btn btn-success" ng-click="openPDFDialog()" ng-disabled="!printAble" />
                    <input ng-if="shopType === '1'" type="submit" value="พิมพ์" class="btn btn-success" ng-click="openPDFDialog()" ng-disabled="!printAble || (shopType=='1' && dealerCode.length != 8)" />
                    
                    <input id="modalPDFOpener" type="hidden" href="#modal-pdf" data-toggle="modal" />

                    <input type="reset" value="ยกเลิก" class="btn btn-cancel" onclick="window.close()" />
                </div>
            </div>

        </div>
    </div>
</div>