<div class="container" id="changePricePlanContent" ng-init="onload()">
    <div class="content-top">
    </div>
    <div class="content m_content">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            <div ng-include="template.header"></div>
            <br />
            <br />
            <br />
            
&nbsp;

            <div class="clearF&Fix"></div>
            <h1 class="content-title">เปลี่ยนโปรโมชั่น : {{(Level == 'OU') ? 'ระดับแอคเคาท์ (OU LEVEL)' : 'ระดับเลขหมาย'}}</h1>
            <div class="content-body">
                <div ng-include="template.customerprofile" scope="" onload=""></div>
                <!-- end authorize -->
                <div ng-include="template.currentpriceplan" scope="" onload=""></div>
                <div>
                    <div ng-include="template.newpriceplan" scope="" onload=""></div>
                    
                    <div ng-include="template.newparampriceplan" scope="" onload="" ></div>
                    <!--<div ng-include="template.newparampriceplan" scope="" onload="" ng-show="offerDetail['csm-offer-details']['special-offer-type']"></div>-->
                    <div ng-include="template.effectivepriceplan" scope="" onload="" ng-open="checkHybrid(data.priceplan['account-sub-type'])"></div>
                    
                    <div id="modal-pdf" tabindex="-1" class="modal fade" data-backdrop="static" data-keyboard="false">
                        <div class="modal-dialog" style="width:85%">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4>
                                        PDF
                                        <button type="button" class="close btnClosePDF" data-dismiss="modal">&times;</button>
                                    </h4>
                                </div>
                                
                                 <div class="modal-body modalBodyDivStyle">
								    <iframe class="modalBodyIframeStyle" id="iframePDF" frameborder="0" scrolling="yes">
								        <p>It appears your web browser doesn't support iframes.</p>
								    </iframe>
								</div>

                                <div class="modal-footer">
                                    <span ng-show="shopType=='0' || (shopType=='1' && getAuthen['isSecondAuthen'] == false)"><input type="button" href="#modal-pdf" value="ยืนยันและพิมพ์" data-dismiss="modal" ng-click="saveOrder()" onclick="printObjectPdf();" class="btn btn-success"></span>
                                    <span><input type="button" href="#modal-pdf" value="ยืนยัน" data-dismiss="modal" ng-click="saveOrder()" class="btn btn-success"></span>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 form-buttons">
                        <div class="form-group">
                            <!--<input type="submit" href="#modal-pdf" value="พิมพ์" ng-click="noneShopPrint()" data-toggle="modal" class="btn btn-success" ng-disabled="!isValidate">
                            <input type="reset" value="ยกเลิก" class="btn btn-cancel" onclick="parent.jQuery.fancybox.close()">-->
                            <button type="button" 
                                    href="#modal-pdf" 
                                    ng-click="noneShopPrint()" 
                                    data-toggle="{{attModalVal}}" 
                                    class="btn btn-success" 
                                    ng-disabled="!isValidate">พิมพ์</button>
                            <button type="button" class="btn btn-cancel" ng-click="cancelChanged()">ยกเลิก</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



