<div class="container" id="changePricePlanForIE8Content" ng-init="onload()">
    <div class="content-top">
    </div>
    <div class="content m_content">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            <div ng-include="template.header"></div>
            <div class="clearfix"></div>
            <h1 class="content-title">เปลี่ยนโปรโมชั่น : {{(Level == 'OU') ? 'ระดับแอคเคาท์ (OU LEVEL)' : 'ระดับเลขหมาย'}}</h1>
            <div class="content-body">
                <div ng-include="template.customerprofile" scope="" onload=""></div>
                <!-- end authorize -->
                <div ng-include="template.currentpriceplan" scope="" onload=""></div>
                <div>
                    <h4 style="margin-top:-10px;">ข้อมูลหมายเลขแบบใหม่</h4>
                    <div class="well">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-3 control-label">รายการส่งเสริมการขาย</label>
                                <div class="col-md-8">
                                    <!--<select ng-change="changesaleList()" class="form-control" ng-model="saleList" ng-options="key as value for (key , value) in datalsSale"></select>-->
                                    <select id="selectProposition" ng-disabled="!isCustomerProfile" class="form-control isCustomerProfile" ng-focus=" onFirstClickDropDown_Proposition=true; selectedPricePlan3();" ng-blur="selectedPromotion()" ng-model="propoCode" ng-change="onClearPricePlan()">
                                        <option value="null">-- กรุณาเลือก --</option>
                                        <option ng-repeat="item in propositions | orderBy: 'proposition_code'" value="{{item['proposition-code']}}">
                                            [{{item["proposition-code"]}}] {{item["name"]}} : {{item["description"]}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" ng-show="Level=='OU'">
                                <label class="col-md-3 control-label">ประเภทโปรโมชั่น
                                    <!--<span style="color:red">*</span>--></label>
                                <div class="col-md-8" id="priceplan_sl">
                                    <select class="form-control" ng-disabled="!isCustomerProfile" ng-model="PPTypeId" id="PPTypeId" ng-change="selectedPricePlan4()">
                                        <option value="">เลือก</option>
                                        <option value="N">Normal</option>
                                        <option value="SH">Share Allowance</option>
                                        <option value="PD">Pooled</option>
                                    </select>
                                </div>
                            </div>
                            <!--Include-->
                            <div class="form-group">
                                <label class="col-md-3 control-label priceplaneText">โปรโมชั่น <span style="color:red;">*</span></label>
                                <div class="col-md-6" id="priceplan_sl">
                                    <input readonly="readonly" type="text" ng-value="pricePlan2.display" class="form-control">
                                </div>
                                <div class="col-md-2" ng-submit="openPricePlanDialog()">
                                    <input type="text" placeholder="ค้นหา" ng-keyup="$event.keyCode==13 && openPricePlanDialog() && smartSearchPP(pricePlanFilter.value)" ng-model="pricePlanFilter.value" id="ppfilter" class="form-control pricePlanFilter">
                                </div>
                                <div class="col-md-1">
                                    <!--<button type="button"
                ng-click="selectedPricePlan3()"
                ng-disabled="!isCustomerProfile"
                id="modalnewpriceplan"
                class="btn"
                onclick="return false;"
                style="background-color: #5cb85c; border-color: #4cae4c; ">
            <span style="color:white;">...</span>
        </button>-->
                                    <button type="button" ng-click="selectedPricePlan3();" ng-disabled="!isCustomerProfile" href="#modalPricePlan" data-toggle="modal" id="modalnewpriceplan" class="btn isCustomerProfile" onclick="return false;" style="background-color: #5cb85c; border-color: #4cae4c; ">
                                        <span style="color:white;">...</span>
                                    </button>
                                </div>
                            </div>
                            <div class="form-group" ng-hide="showPricePlanRC">
                                <label class="col-md-3 control-label">ค่าบริการรายเดือนก่อนหักส่วนลด</label>
                                <div class="col-md-5">
                                    <input type="text" ng-model="pricePlan.rc" placeholder="0" class="form-control" readonly>
                                </div>
                            </div>
                            <div id="modalPricePlan" tabindex="-1" class="modal fade" data-backdrop="static" data-keyboard="false">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header" ng-hide="true">
                                            <button type="button" id="idClosemodalnewpriceplan" class="close" data-dismiss="modal">&times;</button>
                                            <h5>Price Plan</h5>
                                        </div>
                                        <div class="modal-body">
                                            <div class="col-md-12">
                                                <input type="text" placeholder="ค้นหา" ng-model="pricePlanFilter.value" id="ppfilter2" class="form-control pricePlanFilter">
                                            </div>
                                            &nbsp;
                                            <div class="table-responsive" id="hModal">
                                                <div id="backdropPP" style="width: 97%; height: 97%; position: absolute; z-index: 999; display: none;">
                                                    <div style="width: 99%; height: 100%; position: absolute; background-color: black; z-index: 999; opacity: 0.5;filter: alpha(opacity=50);"></div>
                                                    <div style="width: 99%; height: 100%; position: absolute; z-index: 9999;">
                                                        <div style="width: 50%; top: 100px; left: 25%; position: absolute; background-color: white; z-index: 99999;">
                                                            <br/>
                                                            <div class="ngdialog-messagex" style="text-align:center;">
                                                                <h4>กำลังจัดเรียงข้อมูล</h4>
                                                            </div>
                                                            <div style="text-align:center;">
                                                                <!--&nbsp;&nbsp;-->
                                                                <img src="images/loading.gif" />
                                                                <!--<i class="fa fa-spin fa-2x fa-spinner"></i>-->
                                                            </div>
                                                            <br/>
                                                        </div>
                                                        <!--<i class="fa fa-spin fa-2x fa-spinner"></i>-->
                                                    </div>
                                                </div>
                                                <table class="table" style="margin-bottom: 0px;">
                                                    <tr>
                                                        <th colspan="5">
                                                            <label class="col-xs-12">
                                                                <div class="row">
                                                                    <div class="col-xs-1">&nbsp;</div>
                                                                    <div class="col-xs-6"><span style="color:green;"><h6>โปรโมชั่น</h6></span></div>
                                                                    <div class="col-xs-2" ng-show="Level=='OU'"><span style="color:green;text-align:center;"><h4>Service Level</h4></span></div>
                                                                    <div class="col-xs-2" ng-hide="Level=='OU'"><span style="color:green;text-align:center;"><h4></h4></span></div>
                                                                    <div class="col-xs-3"><span style="color:green;text-align:center;"><h6>ค่าบริการรายเดือน</h6></span></div>
                                                                    <!-- <div class="col-xs-2"><span style="color:green;text-align:center;"><h6>รายการส่งเสริมการขาย</h6></span></div> -->
                                                                </div>
                                                            </label>
                                                        </th>
                                                    </tr>
                                                    <tr dir-paginate="pp in propositionList | orderBy:'name'| itemsPerPage: pageSize" pagination-id="PPList" current-page="currentPage">
                                                        <th colspan="5" style="padding: 5px; padding-bottom: 0px;">
                                                            <label class="col-xs-12" style="cursor:pointer;">
                                                                <div class="row">
                                                                    <div class="col-xs-1">
                                                                        <input name="pricelsx" type="radio" ng-click="selectedPricePlan(pp)" ng-value="pp.name+' : '+pp.description" class="radioPriceplan" />
                                                                    </div>
                                                                    <div class="col-xs-6" ng-show="Level=='OU'" title="{{pp.promotion}}">{{pp.name+' : '+pp.description}}</div>
                                                                    <div class="col-xs-8" ng-hide="Level=='OU'" title="{{pp.promotion}}">{{pp.name+' : '+pp.description}}</div>
                                                                    <div class="col-xs-2 text-center" ng-show="Level=='OU'">{{pp['service-level']}}</div>
                                                                    <div class="col-xs-3 text-center">{{pp.rc | number}}</div>
                                                                    <!-- <div class="col-xs-2" style="text-align:center;">{{pp.promotion}}</div> -->
                                                                </div>
                                                            </label>
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <td id="divPage" colspan="5" class="text-center" style="margin-bottom: 0px;">
                                                            <style>
                                                            .pagination {
                                                                margin: 0;
                                                            }
                                                            </style>
                                                            <span style="color:red" class="hide" id="spanMsgNotFound">ไม่พบโปรโมชั่นที่สามารถเปลี่ยนได้</span>
                                                            <div dir-pagination-controls pagination-id="PPList" boundary-links="true" template-url="lib/paging/dirPagination.tpl.html?v={{runTime}}"></div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div id="div_event"></div>
                                        </div>
                                        <div class="modal-footer" style=" padding-top: 0;">
                                            <button class="btn btn-success" data-dismiss="modal" ng-disabled="!isSelectedPricePlan2" ng-click="selectedPricePlan2()">เลือก</button>
                                            <button class="btn btn-cancel" data-dismiss="modal" ng-click="onCancelPricePlan()">ยกเลิก</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-show="shopType=='0'">
                                <label class="col-md-3 control-label">เหตุผล<span style="color:red;"> *</span></label>
                                <div class="col-md-5">
                                    <select id="selectReasonId" ng-disabled="!isCustomerProfile" ng-options="option.dec for option in reasons" ng-change="onReasonChange()" ng-model="reason" class=" form-control"></select>
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom:-2px;" ng-show="shopType=='0'">
                                <label class="col-md-3 control-label">บันทึก</label>
                                <div class="col-md-5">
                                    <textarea ng-disabled="!isCustomerProfile" class="form-control isCustomerProfile" name="message" ng-model="saveData.memo" style="width:100%;height:50px;resize:none  "></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-include="template.newparampriceplan" scope="" onload=""></div>
                    <!--<div ng-include="template.newparampriceplan" scope="" onload="" ng-show="offerDetail['csm-offer-details']['special-offer-type']"></div>-->
                    <div ng-include="template.effectivepriceplan" scope="" onload="" ng-open="checkHybrid(data.priceplan['account-sub-type'])"></div>
                    <div id="modal-pdf" tabindex="-1" class="modal fade" data-backdrop="static" data-keyboard="false">
                        <div class="modal-dialog modal_pdf_width">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4>
                                        PDF
                                        <button type="button" class="close btnClosePDF" data-dismiss="modal">&times;</button>
                                    </h4>
                                </div>
                                <div class="modal-body modalBodyDivStyle">
                                    <h4 id="loadingPrint" style="width=100%;text-align:center;display:none;">กำลังพิมพ์...</h4>
                                    <iframe class="modalBodyIframeStyle" id="iframePDF" name="iframePDF" frameborder="0" scrolling="yes">
                                        <p>It appears your web browser doesn't support iframes.</p>
                                    </iframe>
                                </div>
                                <div class="modal-footer">
                                    <span ng-show="shopType=='0' || (shopType=='1' && getAuthen['isSecondAuthen'] == false)"><input type="button" href="#modal-pdf" value="ยืนยันและพิมพ์" data-dismiss="modal" ng-click="printAndSaveOrder()" class="btn btn-success"></span>
                                    <span><input type="button" href="#modal-pdf" value="ยืนยัน" data-dismiss="modal" ng-click="saveOrder()" class="btn btn-success"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 form-buttons">
                        <div class="form-group">
                            <a href="http://localhost:10000/#/changeIRIDD?subno=0916961011&readcard-id={{data.customerProfile['id-number']}}" target="_blank" class="btn btn-cancel">IR-IDD</a>
                            <!--<input type="submit" href="#modal-pdf" value="พิมพ์" ng-click="noneShopPrint()" data-toggle="modal" class="btn btn-success" ng-disabled="!isValidate">
                            <input type="reset" value="ยกเลิก" class="btn btn-cancel" onclick="parent.jQuery.fancybox.close()">-->
                            <button type="button" href="#modal-pdf" ng-click="noneShopPrint()" data-toggle="{{attModalVal}}" class="btn btn-success" ng-disabled="!isValidate">พิมพ์</button>
                            <button type="button" class="btn btn-cancel" ng-click="cancelChanged()">ยกเลิก</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
