<!-- ---------------- changeStatus.html----------------- -->
<div class="row">
    <div class="col-md-12 text-center">
        <h5><span style="color:darkorange;">Change Status</span></h5>
    </div>
</div>
<div class="container">
    <div class="content-top">
    </div>
    <div class="content">
        <div class="row">
            <div class="box-pre">
                <ul>
                    <li class="box_active">
                        <a class="various3" href="#/suspend?id=2015123111081&subno=0689100006" target="_blank">
                            <div class="box-pre-dt01">
                                <p><b></b></p>
                                <h3>Suspend (ระงับสัญญาณชั่วคราว )</h3>
                                <h4><b>ID:2015123111081</b>, <b>SubscriberNo:0689100006</b></h4>
                            </div>
                            <div class="box-pre-dt02">
                                <div class="icon_tt">
                                    <span class="input-group-btn">
                                        <button title="" type="button" class="hide" data-original-title="">
                                            <a href="#" class="socials-small"></a>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="box_active">
                        <a class="various3" href="#/restore?id=2015123111081&subno=0689100006" target="_blank">
                            <div class="box-pre-dt01">
                                <p><b></b></p>
                                <h3>Restore (เปิดสัญญาณจากการระงับใช้ชั่วคราว)</h3>
                                <h4><b>ID:2015123111081</b>, <b>SubscriberNo:0689100006</b></h4>
                            </div>
                            <div class="box-pre-dt02">
                                <div class="icon_tt">
                                    <span class="input-group-btn">
                                        <button title="" type="button" class="hide" data-original-title="">
                                            <a href="#" class="socials-small"></a>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="box_active">
                        <a class="various3" href="#" target="_blank">
                            <div class="box-pre-dt01">
                                <p><b></b></p>
                                <h3>Resume</h3>
                                <h4><b>ID:2015123111081</b>, <b>SubscriberNo:0689100006</b></h4>
                            </div>
                            <div class="box-pre-dt02">
                                <div class="icon_tt">
                                    <span class="input-group-btn">
                                        <button title="" type="button" class="hide" data-original-title="">
                                            <a href="#" class="socials-small"></a>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="box_active">
                        <a class="various3" href="#/cancel?id=2015123111081&subno=0689100006" target="_blank">
                            <div class="box-pre-dt01">
                                <p><b></b></p>
                                <h3>Cancel (การยกเลิกเลขหมาย)</h3>
                                <h4><b>ID:2015123111081</b>, <b>SubscriberNo:0689100006</b></h4>
                            </div>
                            <div class="box-pre-dt02">
                                <div class="icon_tt">
                                    <span class="input-group-btn">
                                        <button title="" type="button" class="hide" data-original-title="">
                                            <a href="#" class="socials-small"></a>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
