<div ng-include="template.landingheader"></div>
<div class="container" id="comfirmSerialNumber">
    
    <div class="row content">
        <div class="col-md-9 col-md-offset-2 sale-main">
            <h5 class="">ระบุ S/N และ พิมพ์เอกสาร</h5>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <label>ค้นหา</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="table-responsive">
                    <table class="table">
                        <tr class="row">
                            <th class="col-md-8" style="background-color: #c8bbbb; "><span> รายการรับชำระ</span></th>
                            <th class="col-md-3" style="background-color: #c8bbbb; "><span> Serial No</span></th>

                        </tr>
                        <tr class="row">
                            <th class="col-md-8">1. 3000036063  iPhone 6 Plus, 16GB, Gold</th>
                            <th class="col-md-3">896600521490308458</th>

                        </tr>
                        <tr class="row">
                            <th>
                                <i class="fa fa-plus-circle fa-lg fa-2x" style="color:red"></i>
                            </th>
                            <th></th>
                        </tr>

                    </table>
                </div>
            </div>
            <div class="col-md-12 form-buttons">
                <div class="row">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="submit" ng-click="newCustomer()" value="ตกลง" class="btn btn-success">
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>