<h4 style="margin-top:-10px;">ข้อมูลหมายเลขปัจจุบัน</h4>
<div class="row current-info" style="margin-left: 0px;">
    <div class="row">
        <div class="col-md-3">
            <p class="label" style="margin-top:-2px;">รายการส่งเสริมการขาย</p>
        </div>
        <div class="col-md-9" ng-hide="(Action == 'ADD')">
            <div class="events" ng-repeat="item in data.offer">
                <p>&nbsp;&nbsp;{{item["product-name"]}} : {{item["product-description"]}}, [ค่าปรับ {{item["contract-fee"]}} บ. สิ้นสุดสัญญา {{convertDate(item["contract-expire-date"])}}]</p>
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <p class="label" style="margin-top:-7px;">โปรโมชั่น</p>
        </div>
        <div class="col-md-9" ng-hide="(Action == 'ADD')">
            <p class="text-b" style="margin-top:-7px;">&nbsp;&nbsp;{{data.priceplan["product-name"]}} : {{data.priceplan["product-description"]}}</p>
        </div>
    </div>
    <!-- <div class="col-md-4">
        <p class="label">ค่าบริการรายเดือน</p>
    </div>
    <div class="col-md-8">
        <p class="text-price">399 บาท</p>
    </div> -->

</div>