
<div ng-include="template.landingheader"></div>
<div class="container" id="disConnectContent">
    <div class="content m_content">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            <h4>Disconnect</h4>
            <div ng-include="template.customerprofile" scope="" onload=""></div>
            <h4>ข้อมูลปัจจุบัน</h4>
            <div class="well" style="background-color:#ffffff">
                <div class="row">
                    <div class="col-md-12">
                        <div class="well">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>สถานที่ติดตั้ง : 88/8 หมู่บ้านแสนสุข ถนน รัชกาภิเษก แขวงห้วยขวาง เขตดินแดง กรุงเทพ</label>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <div class="col-md-1">
                                        <input type="checkbox" />
                                    </div>
                                    <p class="btn btn-info"><b>True Online</b><br /> 123456789</p>
                                </div>
                                <div class="col-md-3">
                                    <div class="col-md-1">
                                        <input type="checkbox" />
                                    </div>
                                    <p class="btn btn-info"><b>True Visions</b><br /> 123456789</p>
                                </div>
                                <div class="col-md-3">
                                    <div class="col-md-1">
                                        <input type="checkbox" />
                                    </div>
                                    <p class="btn btn-info"><b>Fix Line Plus</b><br /> 123456789</p>
                                </div>
                                <div class="col-md-3">
                                    <div class="col-md-1">
                                        <input type="checkbox" />
                                    </div>
                                    <p class="btn btn-info"><b>Fix Line Plus</b><br /> 123456789</p>
                                </div>
                            </div>

                        </div>
                        <br />
                        <div class="well">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>สถานที่ติดตั้ง : 88/8 หมู่บ้านแสนสุข ถนน รัชกาภิเษก แขวงห้วยขวาง เขตดินแดง กรุงเทพ</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <div class="col-md-1">
                                        <input type="checkbox" />
                                    </div>
                                    <p class="btn btn-info"><b>True Online</b><br /> 123456789</p>
                                </div>
                                <div class="col-md-3">
                                    <div class="col-md-1">
                                        <input type="checkbox" />
                                    </div>
                                    <p class="btn btn-info"><b>True Visions</b><br /> 123456789</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h4>ข้อมูลเพิ่มเติม</h4>
            <div class="well">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group imp">
                            <label>Disconnect Type</label>
                            <select class="form-control">
                                <!--<option>เลือก</option>-->
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group has-feedback imp">
                            <label>วันที่ยกเลิกบริการ</label>
                            <input type="text" readonly class="form-control" id="startB1">
                            <span class="form-control-feedback is-bound"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group has-feedback imp">
                            <label>วันที่เก็บอุปกรณ์</label>
                            <input type="text" readonly class="form-control" id="startB1">
                            <span class="form-control-feedback is-bound"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group imp">
                            <label>เหตุผล</label>
                            <select class="form-control">
                                <!--<option>เลือก</option>-->
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group imp">
                            <label>หมายเหตุ</label>
                            <textarea class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <h4>ข้อมูลติดต่อลูกค้า</h4>
            <div class="well" style="background-color:#ffffff">
                <div class="row">
                    <div class="col-md-3">
                        <label>เบอร์อื่นที่สามารถติดต่อได้</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <label>ต่อ</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <label>เบอร์มือถือ</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <label>Email</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group imp">
                            <label>ภาษาที่ใช้</label>
                            <select class="form-control">
                                <option>ไทย</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 form-buttons">
                <div class="form-group">

                    <input type="submit" value="ยินยันการแก้ไข" class="btn btn-success">
                    <input type="reset" value="ยกเลิก" class="btn btn-cancel" onclick="parent.jQuery.fancybox.close()">
                </div>
            </div>
        </div>
    </div>
</div>

