
<div ng-include="template.landingheader"></div>

<div class="container" id="changeOwnershipContent">
    <div class="content-top">
    </div>
    <div class="content m_content">
        <div class="col-md-1"></div>
        <div class="col-md-11">

            <h5 class="">การรับชำระเงิน</h5>
            <br />
            <div class="content-body">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table">
                            <tr class="row">
                                <th class="col-md-8" style="background-color: #c8bbbb; "><span> รายการรับชำระ</span></th>
                                <th class="col-md-3" style="background-color: #c8bbbb; "><span> ราคา</span></th>

                            </tr>
                            <tr class="row">
                                <th class="col-md-8">1. 3000036063  iPhone 6 Plus, 16GB, Gold</th>
                                <th class="col-md-3">29,450.00 <span> &nbsp; บาท</span></th>

                            </tr>
                            <tr class="row">
                                <th>
                                    <i class="fa fa-plus-circle fa-lg fa-2x" style="color:red"></i>
                                </th>
                                <th></th>
                            </tr>
                            <tr class="row">

                                <th class="col-md-8 form-control-feedback" style="text-align:right;">
                                    จำนวนเงินที่ต้องชำระ
                                </th>
                                <th class="col-md-3">
                                    29,450.00 <span> &nbsp; บาท</span>
                                </th>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="row">                    
                    <div class="col-md-12">
                        <h4>เงินสด</h4>
                    </div>                   
                </div>
                <div class="row">                   
                    <div class="col-md-12">
                        <div class="col-md-2">
                            
                        </div>
                        <div class="col-md-5">
                            <label>เงินสดรับ</label>
                            <input type="text" class="form-control"> 
                        </div>
                        <div class="col-md-5">
                            <label>เงินสดทอน</label>
                            <input type="text" class="form-control"> 
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>บัตรเครดิต</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="table-responsive">
                        <table class="table">
                            <tr class="row">
                                <th class="col-md-1" style="background-color: #c8bbbb; "><span> บริษัท</span></th>
                                <th class="col-md-1" style="background-color: #c8bbbb; "><span> ยอดเงิน</span></th>
                                <th class="col-md-1" style="background-color: #c8bbbb; "><span> เลขที่บัตร</span></th>
                                <th class="col-md-1" style="background-color: #c8bbbb; "><span> ธนาคาร</span></th>
                                <th class="col-md-2" style="background-color: #c8bbbb; "><span> ประเภทบัตร</span></th>
                                <th class="col-md-2" style="background-color: #c8bbbb; "><span> เลขที่อนุมัติ</span></th>
                                <th class="col-md-2" style="background-color: #c8bbbb; "><span> เต็มจำนวน</span></th>
                                <th class="col-md-2" style="background-color: #c8bbbb; "><span> ผ่อน</span></th>

                            </tr>
                            <tr class="row">
                                <th class="col-md-1">TDS</th>
                                <th class="col-md-1"><input type="text" class="form-control" /></th>
                                <th class="col-md-1"><input type="text" class="form-control" /></th>
                                <th class="col-md-1"><input type="text" class="form-control" /></th>
                                <th class="col-md-2"><input type="text" class="form-control" /></th>
                                <th class="col-md-2"><input type="text" class="form-control" /></th>
                                <th class="col-md-2"><button class="btn">รับบัตร</button></th>
                                <th class="col-md-2"><select class="form-control"></select> </th>

                            </tr>
                            <tr class="row">
                                <th>
                                    <i class="fa fa-plus-circle fa-lg fa-2x" style="color:red"></i>
                                </th>
                                <th></th>
                            </tr>
                            
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="submit" ng-click="confirmpaid()" value="ยืนยัน" class="btn btn-success">
                        </div>
                    </div>  
                </div>
                   
            </div>
        </div>
    </div>
</div>