<!-- ---------------- home.html----------------- -->
<div class="container">
    <div class="content-top">
    </div>
    <div class="content">
        <div class="row">
            <div class="box-pre">
                <ul>
                    <li class="box_active">
                        <a class="various3" href="#/changePricePlan/?subno=&oulevel=Sub&ouid=&action=" target="_blank">
                            <div class="box-pre-dt01">
                                <p><b>Subscriber Level</b></p>
                                <h3>Change Price Plan</h3>
                                <h4><b>ID:</b>, <b>Level:Sub</b>, <b>SubscriberNo:</b></h4>
                            </div>
                            <div class="box-pre-dt02">
                                <div class="icon_tt">
                                    <span class="input-group-btn">
                                    </span>
                                </div>
                                <div class="box-pre-dt">
                                    
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="box_active">
                        <a href="#/changePricePlan/?subno=&oulevel=OU&ouid=5010&action=ADD" class="socials-small" style="color:blue;" target="_blank">ADD</a>
                        <br />
                        <a href="#/changePricePlan/?subno=&oulevel=OU&ouid=5010&action=CHANGE" class="socials-small" style="color:blue;" target="_blank">Change</a>
                        <br />
                            <div class="box-pre-dt01">
                                <p><b>OU Level</b></p>
                                <p>Change Price Plan</p>
                                <h4><b>ID:</b>, <b>Level:OU</b>, <b>OU id:5010</b>, <b>SubscriberNo:</b></h4>
                            </div>
                            <div class="box-pre-dt02">
                                <div class="icon_tt">
                                    <span class="input-group-btn">

                                    </span>
                                </div>
                                <!--<div class="box-pre-dt">
                    <a class="various3" href="">
                        <span class="icon_pre-dt"></span>
                    </a>

                </div>-->
                            </div>
                        
                    </li>
                    <li class="box_active">
                        <a class="various3" href="#/changeIRIDD?id=3480300640456&subno=" target="_blank">
                            <div class="box-pre-dt01">
                                <p><b></b></p>
                                <h3>บริการ IR/IDD</h3>
                                <h4><b>ID:</b>, <b>SubscriberNo:</b></h4>
                            </div>
                            <div class="box-pre-dt02">
                                <div class="icon_tt">
                                    <span class="input-group-btn">
                                        <!-- <button title="" type="button" class="hide" data-original-title="">
                                            <a href="#" class="socials-small"></a>
                                        </button> -->
                                    </span>
                                </div>
                                <div class="box-pre-dt">
                                    <!-- <a class="various3" href="#/changePricePlan">
                                        <span class="icon_pre-dt"></span>
                                    </a> -->
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="box_active">
                        <a class="various3" href="#/changeOwnership?subno=" target="_blank">
                            <div class="box-pre-dt01">
                                <p><b></b></p>
                                <h3>Change Ownership</h3>
                                <h4><b>ID:</b>, <b>SubscriberNo:</b></h4>
                            </div>
                            <div class="box-pre-dt02">
                                <div class="icon_tt">
                                    <span class="input-group-btn">
                                       <!--  <button title="" type="button" class="hide" data-original-title="">
                                            <a href="#" class="socials-small"></a>
                                        </button> -->
                                    </span>
                                </div>
                                <div class="box-pre-dt">
                                    <!-- <a class="various3" href="#/changePricePlan">
                                        <span class="icon_pre-dt"></span>
                                    </a> -->
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="box_active">
                        <a class="various3" href="#/changeSwapSim?subno=" target="_blank">
                            <div class="box-pre-dt01">
                                <p><b></b></p>
                                <h3>SWAP SIM</h3>
                                <h4><b>ID:</b>, <b>SubscriberNo:</b></h4>
                            </div>
                            <div class="box-pre-dt02">
                                <div class="icon_tt">
                                    <span class="input-group-btn">
                                       <!--  <button title="" type="button" class="hide" data-original-title="">
                                            <a href="#" class="socials-small"></a>
                                        </button> -->
                                    </span>
                                </div>
                                <div class="box-pre-dt">
                                    <!-- <a class="various3" href="#/changePricePlan">
                                        <span class="icon_pre-dt"></span>
                                    </a> -->
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="box_active">
                        <a class="various3" href="#/migratePostToPre?subno=" target="_blank">
                            <div class="box-pre-dt01">
                                <p><b></b></p>
                                <h3>Migrate Post To Pre</h3>
                                <h4><b>ID:</b>, <b>SubscriberNo:</b></h4>
                            </div>
                            <div class="box-pre-dt02">
                                <div class="icon_tt">
                                    <span class="input-group-btn">
                                                    <!-- <button title="" type="button" class="hide" data-original-title="">
                                                        <a href="#" class="socials-small"></a>
                                                    </button> -->
                                                </span>
                                </div>
                                <div class="box-pre-dt">
                                    <!-- <a class="various3" href="#/changePricePlan">
                                        <span class="icon_pre-dt"></span>
                                    </a> -->
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="box_active">
                        <a class="various3" href="#/migratePreToPost?subno=" target="_blank">
                            <div class="box-pre-dt01">
                                <p><b></b></p>
                                <h3>Migrate Pre To Post</h3>
                                <h4><b>ID:</b>, <b>SubscriberNo:</b></h4>
                            </div>
                            <div class="box-pre-dt02">
                                <div class="icon_tt">
                                    <span class="input-group-btn">
                                        <!-- <button title="" type="button" class="hide" data-original-title="">
                                            <a href="#" class="socials-small"></a>
                                        </button> -->
                                    </span>
                                </div>
                                <div class="box-pre-dt">
                                    <!-- <a class="various3" href="#/changePricePlan">
                                        <span class="icon_pre-dt"></span>
                                    </a> -->
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="box_active">
                        <a class="various3" href="#/changeStatus" target="_blank">
                            <div class="box-pre-dt01">
                                <p><b></b></p>
                                <h3>Change Status</h3>
                                <h4><b></b> <b><span style="color: red;"></span></b></h4>
                            </div>
                            <div class="box-pre-dt02">
                                <div class="icon_tt">
                                    <span class="input-group-btn">
                                        <!-- <button title="" type="button" class="hide" data-original-title="">
                                            <a href="#" class="socials-small"></a>
                                        </button> -->
                                    </span>
                                </div>
                                <div class="box-pre-dt">
                                    <!-- <a class="various3" href="#/changeStatus">
                                        <span class="icon_pre-dt"></span>
                                    </a> -->
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="box_active">
                        <a class="various3" href="#/changeMsisdn?subno=" target="_blank">
                            <div class="box-pre-dt01">
                                <p><b></b></p>
                                <h3>Change MSISDN</h3>
                                <h4><b>ID:</b>, <b>SubscriberNo:<span style="color: red;"></span></b></h4>
                            </div>
                            <div class="box-pre-dt02">
                                <div class="icon_tt">
                                    <span class="input-group-btn">
                                        <!-- <button title="" type="button" class="hide" data-original-title="">
                                            <a href="#" class="socials-small"></a>
                                        </button> -->
                                    </span>
                                </div>
                                <div class="box-pre-dt">
                                    <!-- <a class="various3" href="#/changePricePlan">
                                        <span class="icon_pre-dt"></span>
                                    </a> -->
                                </div>
                            </div>
                        </a>
                    </li>
                    
                    <li class="box_active">
                        <a class="various3" href="#/createCug" target="_blank">
                            <div class="box-pre-dt01">
                                <p><b></b></p>
                                <h3>Create CUG ID</h3>
                                <h4><b></b><b><span style="color: red;"></span></b></h4>
                            </div>
                            <div class="box-pre-dt02">
                                <div class="icon_tt">
                                    <span class="input-group-btn">
                                        <!-- <button title="" type="button" class="hide" data-original-title="">
                                            <a href="#" class="socials-small"></a>
                                        </button> -->
                                    </span>
                                </div>
                                <div class="box-pre-dt">
                                    <!-- <a class="various3" href="#/createCug">
                                        <span class="icon_pre-dt"></span>
                                    </a> -->
                                </div>
                            </div>
                        </a>
                    </li>

                    <li class="box_active">
                        <a class="various3" href="#/addDeleteEditOffer" target="_blank">
                            <div class="box-pre-dt01">
                                <p><b></b></p>
                                <h3>Add Delete Edit Offer</h3>
                                <h4><b></b> <b><span style="color: red;"></span></b></h4>
                            </div>
                            <div class="box-pre-dt02">
                                <div class="icon_tt">
                                    <span class="input-group-btn">
                                       <!--  <button title="" type="button" class="hide" data-original-title="">
                                            <a href="#" class="socials-small"></a>
                                        </button> -->
                                    </span>
                                </div>
                                <div class="box-pre-dt">
                                    <!-- <a class="various3" href="#/addDeleteEditOffer">
                                        <span class="icon_pre-dt"></span>
                                    </a> -->
                                </div>
                            </div>
                        </a>
                    </li>
                    
                    <li class="box_active">
                        <a class="various3" href="#/changeOwnershipPrepaid" target="_blank">
                            <div class="box-pre-dt01">
                                <p><b></b></p>
                                <h3>Change Ownership Prepaid</h3>
                                <h4><b></b> <b><span style="color: red;"></span></b></h4>
                            </div>
                            <div class="box-pre-dt02">
                                <div class="icon_tt">
                                    <span class="input-group-btn">
                                        <!-- <button title="" type="button" class="hide" data-original-title="">
                                            <a href="#" class="socials-small"></a>
                                        </button> -->
                                    </span>
                                </div>
                                <div class="box-pre-dt">
                                    <!-- <a class="various3" href="#/addDeleteEditOfferNew">
                                        <span class="icon_pre-dt"></span>
                                    </a> -->
                                </div>
                            </div>
                        </a>
                    </li>

                    <li class="box_active">
                        <a class="various3" href="#/changePricePlanForIE8?subno=&oulevel=Sub&ouid=&action=" target="_blank">
                            <div class="box-pre-dt01">
                                <p><b></b></p>
                                <h3>Change PricePlan ForIE8</h3>
                                <h4><b></b> <b><span style="color: red;"></span></b></h4>
                            </div>
                            <div class="box-pre-dt02">
                                <div class="icon_tt">
                                    <span class="input-group-btn">
                                        <!-- <button title="" type="button" class="hide" data-original-title="">
                                            <a href="#" class="socials-small"></a>
                                        </button> -->
                                    </span>
                                </div>
                                <div class="box-pre-dt">
                                    <!-- <a class="various3" href="#/changePricePlanForIE8?id=2011112918228&subno=0870100002&oulevel=Sub&ouid=&action=">
                                        <span class="icon_pre-dt"></span>
                                    </a> -->
                                </div>
                            </div>
                        </a>
                    </li>
                    

                    <li class="box_active">
                        <a class="various3" href="#/orderMonitor" target="_blank">
                            <div class="box-pre-dt01">
                                <p><b></b></p>
                                <h3>Order Monitor</h3>
                                <h4><b></b> <b><span style="color: red;"></span></b></h4>
                            </div>
                            <div class="box-pre-dt02">
                                <div class="icon_tt">
                                    <span class="input-group-btn">
                                        <!-- <button title="" type="button" class="hide" data-original-title="">
                                            <a href="#" class="socials-small"></a>
                                        </button> -->
                                    </span>
                                </div>
                                <div class="box-pre-dt">
                                    <!-- <a class="various3" href="#/orderMonitor">
                                        <span class="icon_pre-dt"></span>
                                    </a> -->
                                </div>
                            </div>
                        </a>
                    </li>

                    <li class="box_active">
                        <a class="various3" href="/webui/testIDCard.html">
                            <div class="box-pre-dt01">
                                <p><b></b></p>
                                <h3>Test ID-Card</h3>
                                <h4><b></b> <b><span style="color: red;"></span></b></h4>
                            </div>
                            <div class="box-pre-dt02">
                                <div class="icon_tt">
                                    <span class="input-group-btn">
                                        <!-- <button title="" type="button" class="hide" data-original-title="">
                                            <a href="#" class="socials-small"></a>
                                        </button> -->
                                    </span>
                                </div>
                                <div class="box-pre-dt">
                                    <!-- <a class="various3" href="#/monitorOrder">
                                        <span class="icon_pre-dt"></span>
                                    </a> -->
                                </div>
                            </div>
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
        
    </div>
</div>
