<!-- ---------------- home.html----------------- -->
<div class="container">
    <div class="content-top">
    </div>
    <div class="content">
        <div class="row">
            <div class="box-pre">
                <ul>
                    <li class="box_active">
                        <a class="various3" href="#/changePricePlan/?id=2011112918228&subno=0870100002&oulevel=Sub&ouid=&action=" target="_blank">
                            <div class="box-pre-dt01">
                                <p><b>Subscriber Level</b></p>
                                <h3>Change Price Plan</h3>
                                <h4><b>ID:3400400489300</b>, <b>Level:Sub</b>, <b>SubscriberNo:0870100002</b></h4>
                            </div>
                            <div class="box-pre-dt02">
                                <div class="icon_tt">
                                    <span class="input-group-btn">

                                        <button title="" type="button" class="hide" data-original-title="">
                                            <a href="#" class="socials-small"></a>
                                        </button>
                                    </span>
                                </div>
                                <div class="box-pre-dt">
                                    <a class="various3" href="#/changePricePlan/3400400489300/Sub/0/0689100006/1">
                                        <span class="icon_pre-dt"></span>
                                    </a>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="box_active">
                        <a href="#/changePricePlan/?id=018932490908&subno=0870100002&oulevel=OU&ouid=5010&action=ADD" class="socials-small" style="color:blue;" target="_blank">ADD</a>
                        <br />
                        <a href="#/changePricePlan/?id=018932490908&subno=0870100002&oulevel=OU&ouid=5010&action=CHANGE" class="socials-small" style="color:blue;" target="_blank">Change</a>
                        <br />
                        <a class="various3" href="" target="_blank">
                            <div class="box-pre-dt01">
                                <p><b>OU Level</b></p>
                                <p>Change Price Plan</p>
                                <h4><b>ID:3400400489300</b>, <b>Level:OU</b>, <b>OU id:21347992</b>, <b>SubscriberNo:0689100006</b></h4>
                            </div>
                            <div class="box-pre-dt02">
                                <div class="icon_tt">
                                    <span class="input-group-btn">

                                    </span>
                                </div>
                                <!--<div class="box-pre-dt">
                    <a class="various3" href="">
                        <span class="icon_pre-dt"></span>
                    </a>

                </div>-->
                            </div>
                        </a>
                    </li>
                    <li class="box_active">
                        <a class="various3" href="#/changeIRIDD?id=3480300640456&subno=0870100002" target="_blank">
                            <div class="box-pre-dt01">
                                <p><b></b></p>
                                <h3>บริการ IR/IDD</h3>
                                <h4><b>ID:3480300640456</b>, <b>SubscriberNo:0870100002</b></h4>
                            </div>
                            <div class="box-pre-dt02">
                                <div class="icon_tt">
                                    <span class="input-group-btn">
                                        <button title="" type="button" class="hide" data-original-title="">
                                            <a href="#" class="socials-small"></a>
                                        </button>
                                    </span>
                                </div>
                                <div class="box-pre-dt">
                                    <a class="various3" href="#/changePricePlan">
                                        <span class="icon_pre-dt"></span>
                                    </a>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="box_active">
                        <a class="various3" href="#/changeOwnership?id=2015123111081&subno=0939861331" target="_blank">
                            <div class="box-pre-dt01">
                                <p><b></b></p>
                                <h3>Change Ownership</h3>
                                <h4><b>ID:3400400489300</b>, <b>SubscriberNo:0689100006</b></h4>
                            </div>
                            <div class="box-pre-dt02">
                                <div class="icon_tt">
                                    <span class="input-group-btn">
                                        <button title="" type="button" class="hide" data-original-title="">
                                            <a href="#" class="socials-small"></a>
                                        </button>
                                    </span>
                                </div>
                                <div class="box-pre-dt">
                                    <a class="various3" href="#/changePricePlan">
                                        <span class="icon_pre-dt"></span>
                                    </a>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="box_active">
                        <a class="various3" href="#/changeSwapSim?id=2015123111081&subno=0957730500" target="_blank">
                            <div class="box-pre-dt01">
                                <p><b></b></p>
                                <h3>SWAP SIM</h3>
                                <h4><b>ID:</b>, <b>SubscriberNo:</b></h4>
                            </div>
                            <div class="box-pre-dt02">
                                <div class="icon_tt">
                                    <span class="input-group-btn">
                                        <button title="" type="button" class="hide" data-original-title="">
                                            <a href="#" class="socials-small"></a>
                                        </button>
                                    </span>
                                </div>
                                <div class="box-pre-dt">
                                    <a class="various3" href="#/changePricePlan">
                                        <span class="icon_pre-dt"></span>
                                    </a>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="box_active">
                        <a class="various3" href="#/migratePostToPre?id=3400400489300&subno=0689100006" target="_blank">
                            <div class="box-pre-dt01">
                                <p><b></b></p>
                                <h3>Migrate Post To Pre</h3>
                                <h4><b>ID:3400400489300</b>, <b>SubscriberNo:0689100006</b></h4>
                            </div>
                            <div class="box-pre-dt02">
                                <div class="icon_tt">
                                    <span class="input-group-btn">
                                                    <button title="" type="button" class="hide" data-original-title="">
                                                        <a href="#" class="socials-small"></a>
                                                    </button>
                                                </span>
                                </div>
                                <div class="box-pre-dt">
                                    <a class="various3" href="#/changePricePlan">
                                        <span class="icon_pre-dt"></span>
                                    </a>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="box_active">
                        <a class="various3" href="#/migratePreToPost?id=3400400489300&subno=0689100006" target="_blank">
                            <div class="box-pre-dt01">
                                <p><b></b></p>
                                <h3>Migrate Pre To Post</h3>
                                <h4><b>ID:3400400489300</b>, <b>SubscriberNo:0689100006</b></h4>
                            </div>
                            <div class="box-pre-dt02">
                                <div class="icon_tt">
                                    <span class="input-group-btn">
                                        <button title="" type="button" class="hide" data-original-title="">
                                            <a href="#" class="socials-small"></a>
                                        </button>
                                    </span>
                                </div>
                                <div class="box-pre-dt">
                                    <a class="various3" href="#/changePricePlan">
                                        <span class="icon_pre-dt"></span>
                                    </a>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="box_active">
                        <a class="various3" href="#/migratePreToPost?id=3400400489300&subno=" target="_blank">
                            <div class="box-pre-dt01">
                                <p><b></b></p>
                                <h3>Migrate Pre To Post</h3>
                                <h4><b>ID:3400400489300</b>, <b>SubscriberNo:<span style="color: red;">null</span></b></h4>
                            </div>
                            <div class="box-pre-dt02">
                                <div class="icon_tt">
                                    <span class="input-group-btn">
                                        <button title="" type="button" class="hide" data-original-title="">
                                            <a href="#" class="socials-small"></a>
                                        </button>
                                    </span>
                                </div>
                                <div class="box-pre-dt">
                                    <a class="various3" href="#/changePricePlan">
                                        <span class="icon_pre-dt"></span>
                                    </a>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="box_active">
                        <a class="various3" href="#/changeStatus" target="_blank">
                            <div class="box-pre-dt01">
                                <p><b></b></p>
                                <h3>Change Status</h3>
                                <h4><b></b> <b><span style="color: red;"></span></b></h4>
                            </div>
                            <div class="box-pre-dt02">
                                <div class="icon_tt">
                                    <span class="input-group-btn">
                                        <button title="" type="button" class="hide" data-original-title="">
                                            <a href="#" class="socials-small"></a>
                                        </button>
                                    </span>
                                </div>
                                <div class="box-pre-dt">
                                    <a class="various3" href="#/changeStatus">
                                        <span class="icon_pre-dt"></span>
                                    </a>
                                </div>
                            </div>
                        </a>
                    </li>
                    <!-- <li class="box_active">
                        <a class="various3" href="#/cancel?id=2015123111081&subno=" target="_blank">
                            <div class="box-pre-dt01">
                                <p><b></b></p>
                                <h3>Cancel (การยกเลิกเลขหมาย)</h3>
                                <h4><b>ID:2015123111081</b>, <b>SubscriberNo:null</b></h4>
                            </div>
                            <div class="box-pre-dt02">
                                <div class="icon_tt">
                                    <span class="input-group-btn">
                                        <button title="" type="button" class="hide" data-original-title="">
                                            <a href="#" class="socials-small"></a>
                                        </button>
                                    </span>
                                </div>

                            </div>
                        </a>
                    </li>
                    <li class="box_active">
                        <a class="various3" href="#/suspend?id=2015123111081&subno=0689100006" target="_blank">
                            <div class="box-pre-dt01">
                                <p><b></b></p>
                                <h3>Suspend (ระงับสัญญาณชั่วคราว )</h3>
                                <h4><b>ID:2015123111081</b>, <b>SubscriberNo:0689100006</b></h4>
                            </div>
                            <div class="box-pre-dt02">
                                <div class="icon_tt">
                                    <span class="input-group-btn">
                                        <button title="" type="button" class="hide" data-original-title="">
                                            <a href="#" class="socials-small"></a>
                                        </button>
                                    </span>
                                </div>

                            </div>
                        </a>
                    </li>

                    <li class="box_active">
                        <a class="various3" href="#/restore?id=2015123111081&subno=0689100006" target="_blank">
                            <div class="box-pre-dt01">
                                <p><b></b></p>
                                <h3>Restore (เปิดสัญญาณจากการระงับใช้ชั่วคราว)</h3>
                                <h4><b>ID:2015123111081</b>, <b>SubscriberNo:0689100006</b></h4>
                            </div>
                            <div class="box-pre-dt02">
                                <div class="icon_tt">
                                    <span class="input-group-btn">
                                        <button title="" type="button" class="hide" data-original-title="">
                                            <a href="#" class="socials-small"></a>
                                        </button>
                                    </span>
                                </div>

                            </div>
                        </a>
                    </li> -->
                </ul>
            </div>
        </div>
        
    </div>
</div>
