<div class="container" id="migratePostToPreContent">
    <div class="content-top">
    </div>
    <div class="content m_content">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            <div ng-include="template.header "></div>
            
            <div class="clearfix"></div>
            <h1 class="content-title">เปลี่ยนจากรายเดือนเป็นเติมเงิน</h1>
            <div class="content-body">
                <div ng-include="template.customerprofile" onload="onCustomerProfileTemplateLoaded()"></div>
                <h4>ผู้จดทะเบียนเติมเงิน</h4>
                <div class="well" style="background-color:#ffffff;">
                    <!--Update-->
                    <div class="row"></div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group imp">
                                <label>หมายเลขบัตรประชาชน / พาสปอร์ต</label>
                                <div ng-class="{ 'input-group': data.simData['account-category'] === 'B' || data.simData['account-category'] === 'C' }">
                                    <input ng-numeric-input type="text" id="citizenID3" ng-model="data.customerProfile['id-number']" ng-disabled="isSecondAuhenFailed || (!getSIMDataFailed && !isLastestUser)" class="form-control" maxlength="13">
                                    <span ng-if="data.simData['account-category'] === 'B' || data.simData['account-category'] === 'C'" class="input-group-btn">
                                        <button title="อ่านจากการ์ด" 
                                            onclick="$('#ReadAuthorize').val('readNewOwnerReadCard');ReadCard('ReadP');" 
                                            style="height:30px;" 
                                            class="btn credit_ie8 idBtnReadCard" 
                                            type="button" 
                                            data-toggle="tooltip">

                                            <i class="fa fa-credit-card"></i>
                                        </button>
                                    </span>
                                </div>
                                <div id="loadingReadCard3">
                                        <i class="fa fa-spin fa-spinner"></i>
                                    </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <!-- id-type -->
                                <label>ประเภทของบัตร <span style="color:red;">*</span></label>
                                <select class="form-control" id="selectCustomerIdType" ng-model="data.customerProfile['id-type']" ng-disabled="isSecondAuhenFailed || (!getSIMDataFailed && !isLastestUser)">
                                    <option ng-repeat="option in cardTypeOptions" value="{{option.value}}">{{option["description"]}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>คำนำหน้า <span style="color:red;">*</span></label>
                                <div id="placeholders">
                                    <select class="form-control" ng-model="data.customerProfile['title-code']" ng-disabled="isSecondAuhenFailed || (!getSIMDataFailed && !isLastestUser)">
                                        <option ng-repeat="option in titleTypeListx" value="{{option.value}}">{{option["th-description"]}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>ชื่อ <span style="color:red;">*</span></label>
                                <input type="text" id="firstNameTH3" ng-model="data.customerProfile['firstname']" class="form-control" ng-disabled="isSecondAuhenFailed || (!getSIMDataFailed && !isLastestUser)">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>นามสกุล <span style="color:red;">*</span></label>
                                <input type="text" id="lastNameTH3" ng-model="data.customerProfile['lastname']" class="form-control" ng-disabled="isSecondAuhenFailed || (!getSIMDataFailed && !isLastestUser)">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>เพศ <span style="color:red;">*</span></label>
                                <div id="placeholders">
                                    <select class="form-control" style="width:100px;" ng-model="data.customerProfile['gender']" ng-disabled="isSecondAuhenFailed || (!getSIMDataFailed && !isLastestUser)">
                                        <option ng-repeat="option in genderTypeList" value="{{option.value}}">{{option["th-description"]}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group has-feedback">
                                <label>วัน/เดือน/ปีเกิด <span style="color:red;">*</span></label>
                                <input type="text" id="birthDate" class="form-control date-picker" ng-model="data.customerProfile['birthdate']" ng-disabled="isSecondAuhenFailed || (!getSIMDataFailed && !isLastestUser)">
                                <span class="form-control-feedback is-bound"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group has-feedback">
                                <label>วันหมดอายุบัตร <span style="color:red;">*</span></label>
                                <input id="expireDate" type="text" class="form-control date-picker" ng-model="data.customerProfile['id-expire-date']" ng-disabled="isSecondAuhenFailed || (!getSIMDataFailed && !isIdCardExpired(data.customerProfile['id-expire-date']) && !isLastestUser)">
                                <span class="form-control-feedback is-bound"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <h4>ข้อมูลหมายเลข</h4>
                <div class="well">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-3" style=" text-align: right; top: 5px;">
                                    <p></p>
                                    <label>รายการส่งเสริมการขาย</label>
                                </div>
                                <div class="col-md-7">
                                    <p></p>
                                    <select class="form-control" ng-model="selectedProPosition" ng-disabled="isSecondAuhenFailed">
                                        <option value="">-- กรุณาเลือก --</option>
                                        <option ng-repeat="item in proPositionList" value="{{ item['proposition-code'] }}">
                                            {{ item['proposition-code'] }} : {{ item.description }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p></p>
                    <div class="row" ng-submit="funcEvent()">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-3" style=" text-align: right; top: 5px;">
                                    <label>Price Plan <span style="color:red;">*</span></label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" ng-model="selectedPricePlan.description" readonly class="form-control">
                                </div>
                                <div class="col-md-3">
                                    <input type="text" ng-keyup="$event.keyCode == 13 && funcEvent()" ng-model="pricePlanFilter" placeholder="ค้นหา" class="form-control" ng-disabled="isSecondAuhenFailed">
                                </div>
                                <div class="col-md-1">
                                    <button href="#pricePlanModal" id="modalnewpriceplan" class="btn" onclick="return false;" data-toggle="modal" style="background-color: #5cb85c; border-color: #4cae4c;" ng-disabled="isSecondAuhenFailed">
                                        <span style="color:white;">...</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p></p>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-3" style=" text-align: right; top: 5px;">
                                    <label>ค่าบริการรายเดือนก่อนหักส่วนลด </label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" readonly ng-model="selectedPricePlan.rc" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h4>ที่อยู่จดทะเบียน</h4>
                <div class="well" style="background-color:#ffffff;" ng-form="customerspre">
                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-md-12">
                            <div class="form-group">
                                <span>
                                        <button type="button" ng-click="useSameAddressAsCard()" class="btn btn-danger btn_address">
                                            ใช้ที่อยู่เดียวกับที่อยู่ตามบัตร
                                        </button>
                                    </span>
                                <a href="" ng-click="clearAddress()" style="position:relative;top:5px;margin-left:10px;">
                                    <span>
                                            <i class="fa fa-trash-o fa-2x"></i>
                                        </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group imp">
                                <label>รหัสไปรษณีย์ </label>
                                <input type="text" ng-numeric-input ng-model="data.customerAddress['zip']" class="form-control" maxlength="{{ zipLength }}" required ng-disabled="isSecondAuhenFailed">
                                <!-- <span class="error" style="color:red;" ng-show="customerspre.postcodes.$error.required">
                                        Required!
                                    </span> -->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group imp">
                                <label>จังหวัด </label>
                                <input type="text" ng-model="data.customerAddress['province']" class="form-control" required ng-disabled="isSecondAuhenFailed">
                                <!-- <span class="error" style="color:red;" ng-show="customerspre.provinces.$error.required">
                                        Required!
                                    </span> -->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group imp">
                                <label>เขต / อำเภอ </label>
                                <input type="text" ng-model="data.customerAddress['district']" class="form-control" required ng-disabled="isSecondAuhenFailed">
                                <!-- <span class="error" style="color:red;" ng-show="customerspre.aumpers.$error.required">
                                        Required!
                                    </span> -->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group imp">
                                <label>แขวง / ตำบล </label>
                                <input type="text" ng-model="data.customerAddress['sub-district']" class="form-control" required ng-disabled="isSecondAuhenFailed">
                                <!-- <span class="error" style="color:red;" ng-show="customerspre.tumbols.$error.required">
                                        Required!
                                    </span> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <span>บ้านเลขที่ <!-- <span style="color:red;">*</span> --></span>&nbsp;&nbsp;&nbsp;&nbsp;
                                <!-- <div class="checkbox checkbox-circle2 checkbox-inline">
                                        <input type="checkbox" ng-model="noHomeNumber" class="styled">
                                        <label><span style="position:relative;top:3px;left:-10px;">ไม่มีบ้านเลขที่</span></label>
                                    </div> -->
                                <input type="text" ng-model="data.customerAddress['number']" ng-disabled="noHomeNumber || isSecondAuhenFailed" name="homenos" class="form-control numberic" required>
                                <!-- <span class="error" style="color:red;" ng-show="customerspre.homenos.$error.required">
                                        Required!
                                    </span> -->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <span>หมู่ที่ <!-- <span style="color:red;">*</span> --></span>&nbsp;&nbsp;&nbsp;&nbsp;
                                <!-- <div class="checkbox checkbox-circle2 checkbox-inline">
                                        <input type="checkbox" ng-model="noHomeMoo" class="styled">
                                        <label><span style="position:relative;top:3px;left:-10px;">ไม่มีหมู่ที่</span></label>
                                    </div> -->
                                <input type="text" ng-model="data.customerAddress['moo']" ng-disabled="noHomeMoo || isSecondAuhenFailed" class="form-control" required>
                                <!-- <span class="error" style="color:red;" ng-show="customerspre.homemoos.$error.required">
                                        Required!
                                    </span> -->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>หมู่บ้าน</label>
                                <input type="text" class="form-control numberic" ng-model="data.customerAddress['village']" ng-disabled="isSecondAuhenFailed">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>อาคาร</label>
                                <input type="text" class="form-control" ng-model="data.customerAddress['building-name']" ng-disabled="isSecondAuhenFailed">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>ชั้น</label>
                                <input type="text" class="form-control" ng-model="data.customerAddress['building-floor']" ng-disabled="isSecondAuhenFailed">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>เลขห้อง</label>
                                <input type="text" class="form-control" ng-model="data.customerAddress['building-room']" ng-disabled="isSecondAuhenFailed">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>ซอย</label>
                                <input type="text" class="form-control" ng-model="data.customerAddress['soi']" ng-disabled="isSecondAuhenFailed">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group imp">
                                <label>ถนน</label>
                                <input type="text" class="form-control" ng-model="data.customerAddress['street']" required ng-disabled="isSecondAuhenFailed">
                                <span class="error" style="color:red;" ng-show="customerspre.roadcode.$error.required">
                                        Required!
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
                <h4></h4>
                <!-- end authorize -->
                <div ng-include="template.currentpriceplan" scope="" onload=""></div>
            </div>
            <!--<div ng-include="template.reasonmemo" scope="" onload=""></div>-->
            <h4>Reason & Memo</h4>
            <div class="well">
                <div class="form-horizontal">
                    <div class="form-group" ng-show="shopType=='0'">
                        <label class="col-md-4 control-label">Reason Code<span style="color:red;"> *</span></label>
                        <div class="col-md-4">
                            <select id="selectReasonId" ng-options="option.dec for option in reasons" ng-model="selectedReason" class="form-control"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Memo</label>
                        <div class="col-md-4">
                            <textarea class="form-control" ng-model="memo" name="message" style="width:100%;height:70px;" ng-disabled="isSecondAuhenFailed"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div ng-include="template.effectivepriceplan" scope="" onload=""></div>-->
            <div id="modal-pdf" tabindex="-1" class="modal fade" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog" style="width:70%;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4>
                                    PDF
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </h4>
                        </div>
                        <div class="modal-body">
                            <iframe id="iframePDF" src="" style="width: 100%; height: 400px;" frameborder="0" scrolling="no">
                                <p>It appears your web browser doesn't support iframes.</p>
                            </iframe>
                        </div>
                        
                        <div class="modal-footer">
                            <span ng-show="(shopType === '1' && getAuthen['isSecondAuthen'] === false) || shopType === '0'">
                                <input type="button" href="#modal-pdf" value="ยืนยันและพิมพ์เอกสาร" data-toggle="modal" onclick="setTimeout(function () { document.getElementById('iframePDF').src = 'javascript:window.print();' }, 2000); setTimeout(function () { document.getElementById('iframePDF').src = 'PDFs/AfterSaleReport.pdf' }, 2500);" ng-click="submit()" class="btn btn-success" />
                            </span>
                            <span>
                                <input type="button" href="#modal-pdf" value="ยืนยัน" data-toggle="modal" ng-click="submit()" class="btn btn-success" />
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="modal-SecoundAuthen" tabindex="-1" class="modal fade" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" id="btnSecoundAuthenClose" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="blue bigger">
                                    <i class="ace-icon fa fa-lock grey"></i>
                                    Secound Authen
                                </h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-4">
                                    Username :
                                    <input type="text" placeholder="Username" class="form-control">
                                </div>
                                <div class="col-xs-4">
                                    Password :
                                    <input type="text" placeholder="Password" class="form-control">
                                </div>
                                <div class="col-xs-4 ">
                                    <a href="#modal-ReadCard3" onclick="return false;" data-dismiss="modal" data-toggle="modal" class="btn btn-success">Ok</a>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
            <div id="modal-ReadCard3" tabindex="-1" class="modal fade" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" id="btnReadCard3Close" class="close" onclick="" data-dismiss="modal">&times;</button>
                            <h4 class="blue bigger">
                                    <i class="ace-icon fa fa-user  grey"></i>
                                    ผู้จดทะเบียนเติมเงิน
                                </h4>
                            <hr />
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-3">ระบุ Card / Passport : </div>
                                <div class="col-xs-5">
                                    <input type="text" id="CitizenID33" placeholder="" ng-model="CitizenID3" class="form-control">
                                </div>
                                <div class="col-xs-4">
                                    <!--<input type="submit" value="อ่านบัตร" class="btn btn-danger" ng-click="ReadCardMockUp('3389225969739')">-->
                                    <input type="submit" value="อ่านบัตร" class="btn btn-danger" onclick="$('#ReadAuthorize').val('readNewOwnerReadCard'); ReadCard('ReadP');">
                                    <input type="submit" value="ใส่ข้อมูล" class="btn btn-danger" onclick="setTimeout(function () { $('#CitizenID33').select(); }, 100);" ng-click="manualInputReadCard()">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3"></div>
                                <div class="col-xs-5">
                                    <div id="loadingReadCard3">
                                        <i class="fa fa-spin fa-spinner"></i>
                                        กำลังอ่านข้อมูล...
                                    </div>
                                        <!-- <span id="unMatch" style="color:red;">*ไม่พบหมายเลขบัตรนี้ในฐานข้อมูล</span>
                                        <span id="readCardTimeOut" style="color:red;display:none;">*ไม่พบเครื่องอ่านบัตร</span> -->
                                </div>
                                <div class="col-xs-4"></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 form-buttons">
                <div class="form-group">
                    <input ng-if="shopType === '0'" type="submit" value="พิมพ์" class="btn btn-success" ng-click="openPDFDialog()"/>
                    <input ng-if="shopType === '1' && getAuthen.isSecondAuthen === false" type="submit" value="พิมพ์" class="btn btn-success" ng-click="openPDFDialog()" ng-disabled="isSecondAuhenFailed" />
                    <input ng-if="shopType === '1' && getAuthen.isSecondAuthen === true" type="submit" value="พิมพ์" class="btn btn-success" ng-click="openPDFDialog()" ng-disabled="isSecondAuhenFailed" />
                    <input id="modalPDFOpener" type="hidden" href="#modal-pdf" data-toggle="modal" />
                    <input type="reset" value="ยกเลิก" class="btn btn-cancel" onclick="window.close()" />
                </div>
            </div>
        </div>
    </div>
</div>
<div id="pricePlanModal" tabindex="-1" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Price Plan</h5>
                <div class="col-md-12">
                    <input type="text" placeholder="ค้นหา" ng-model="pricePlanFilter" class="form-control" ng-disabled="isSecondAuhenFailed" >
                </div>
            </div>
            <div class="modal-body">
                &nbsp;
                <div class="table-responsive">
                    <table class="table">
                        <tr class="row">
                            <th class="col-md-1"></th>
                            <th class="col-md-2"><span style="color:green;"> Price Plan</span></th>
                            <th class="col-md-7"><span style="color:green;"> รายการส่งเสริมการขาย</span></th>
                            <th class="col-md-2 text-right"><span style="color:green;"> RC</span></th>
                        </tr>
                        <tr class="row" ng-repeat="pp in pricePlanList">
                            <th class="col-md-1">
                                <input name="pricels" type="radio" ng-model="dirty.selectedPricePlan" ng-value="pp" />
                            </th>
                            <th class="col-md-2">{{pp.name}}</th>
                            <th class="col-md-7">{{pp.description}}</th>
                            <th class="col-md-2 text-right">{{pp.rc | number:2}}</th>
                        </tr>
                    </table>
                </div>
                <div id="div_event"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal" ng-click="selectedPricePlan = dirty.selectedPricePlan">เลือก</button>
                <button class="btn btn-cancel" data-dismiss="modal" ng-click="dirty.selectedPricePlan = selectedPricePlan">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>