<div ng-show="specialOfferType.CUG || specialOfferType.POOL || specialOfferType.SA || specialOfferType.FF">
    <h4>Parameter</h4>
    <div class="well">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-3 control-label"><h4> Parameter Name </h4></label>
                <label class="col-md-4 control-label"><h4 style="text-align:left">Parameter Value</h4></label>
            </div>
            <div ng-show="specialOfferType.SA || specialOfferType.POOL">
                <div ng-show="parameter.Volume != 'hide'">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Volume cap max <span style="color:red;">*</span>  </label>
                        <div class="col-md-6" style="width:auto">
                            <select class="form-control" id="selectVolume"
                                    ng-init="saveParamData.Volume=parameter.Volume"
                                    ng-model="parameter.Volume"
                                    ng-change="saveParamData.Volume=parameter.Volume">
                                <option value="null">-- กรุณาเลือก --</option>
                                <option value="-2">สามารถใช้ Bundle ได้ไม่จำกัดจำนวน (Unlimited Capping)</option>
                                <option value="">สามารถใช้ Bundle ได้ตามจำนวนที่ระบุเท่านั้น (Limited Capping)</option>
                                <option value="0">Not Allow</option>

                            </select>
                        </div>
                        <div class="col-md-2">
                            <input type="text" id="txtVolume"
                                   ng-show="parameter.Volume>=1 || parameter.Volume == ''"
                                   ng-model="saveParamData.Volume"
                                   ng-numeric="isNumberVolume"
                                   placeholder=""
                                   maxlength="10"
                                   class="form-control" style="width:110px;">

                        </div>

                    </div>

                    <div class="form-group">
                        
                        <div class="col-md-3 hidden-sm">
                            
                        </div>
                        <div class="col-md-5 hidden-sm" >
                            
                        </div>
                         <div class="col-md-4">
                        <span  ng-span-numeric="isNumberVolume" class="hide" style="color:red;">
                            กรุณากรอกเฉพาะตัวเลขเท่านั้น
                        </span>
                    </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Volume cap max UOM <span style="color:red;">*</span> </label>
                        <div class="col-md-3">
                            <select class="form-control"
                                    ng-options="item.id as item.value for item in capMaxParameterList['volumeCapMaxUOMCombo']"
                                    ng-model="capMaxParameterList['volume-capmax-uom']"
                                    ng-disabled="parameter.Volume=='null' || parameter.Volume=='0' || parameter.Volume=='-2'"></select>

                        </div>

                    </div>

                </div>
                &nbsp;
                <div ng-show="parameter.Monetary != 'hide'">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Monetary cap max <span style="color:red;">*</span> </label>
                        <div class="col-md-6" style="width:auto">
                            <select class="form-control" id="selectMonetary"
                                    ng-init="saveParamData.Monetary=parameter.Monetary"
                                    ng-model="parameter.Monetary"
                                    ng-change="saveParamData.Monetary=parameter.Monetary">
                                <option value="null">-- กรุณาเลือก --</option>
                                <option value="-2">สามารถใช้ Bundle ได้ไม่จำกัดจำนวน (Unlimited Capping)</option>
                                <option value="">สามารถใช้ Bundle ได้ตามจำนวนที่ระบุเท่านั้น (Limited Capping)</option>
                                <option value="0">Not Allow</option>

                            </select>
                        </div>
                        <div class="col-md-2">
                            <input type="text" id="txtMonetary"
                                   ng-show="parameter.Monetary>=1 || parameter.Monetary==''"
                                   ng-model="saveParamData.Monetary"
                                   placeholder=""
                                   maxlength="10"
                                   class="form-control " style="width:110px;"
                                   ng-numeric="isNumberMonetary">

                        </div>
                    </div>
                    <div class="form-group">
                        
                        <div class="col-md-3 hidden-sm">
                            
                        </div>
                        <div class="col-md-5 hidden-sm" >
                            
                        </div>
                         <div class="col-md-4">
                        <span  ng-span-numeric="isNumberMonetary"class="hide" style="color:red;">
                            กรุณากรอกเฉพาะตัวเลขเท่านั้น
                        </span>
                    </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Monetary cap max UOM <span style="color:red;">*</span> </label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" readonly="readonly" value="Baht" />
                        </div>

                    </div>
                </div>
                &nbsp;
                <div ng-show="parameter.Occurrence != 'hide'">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Occurrence cap max <span style="color:red;">*</span> </label>
                        <div class="col-md-6" style="width:auto">
                            <select class="form-control" id="selectOccurrence"
                                    ng-init="saveParamData.Occurrence=parameter.Occurrence"
                                    ng-model="parameter.Occurrence"
                                    ng-change="saveParamData.Occurrence=parameter.Occurrence">
                                <option value="null">-- กรุณาเลือก --</option>
                                <option value="-2">สามารถใช้ Bundle ได้ไม่จำกัดจำนวน (Unlimited Capping)</option>
                                <option value="">สามารถใช้ Bundle ได้ตามจำนวนที่ระบุเท่านั้น (Limited Capping)</option>
                                <option value="0">Not Allow</option>

                            </select>
                        </div>
                        <div class="col-md-2">
                            <input type="text" id="txtOccurrence"
                                   ng-show="parameter.Occurrence>=1 || parameter.Occurrence == ''"
                                   ng-model="saveParamData.Occurrence"
                                   placeholder=""
                                   maxlength="10"
                                   class="form-control" style="width:110px;"
                                   ng-numeric="isNumberOccurrence" >

                        </div>
                    </div>
                    <div class="form-group">
                        
                        <div class="col-md-3 hidden-sm">
                            
                        </div>
                        <div class="col-md-5 hidden-sm" >
                            
                        </div>
                         <div class="col-md-4">
                        <span ng-span-numeric="isNumberOccurrence" class="hide" style="color:red;">
                            กรุณากรอกเฉพาะตัวเลขเท่านั้น
                        </span>
                    </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Occurrence cap max UOM <span style="color:red;">*</span> </label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" readonly="readonly" value="Occurrence" />
                        </div>

                    </div>
                </div>
                &nbsp;
                <div ng-show="parameter.Duration != 'hide'">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Duration cap max <span style="color:red;">*</span> </label>
                        <div class="col-md-6" style="width:auto">
                            <select class="form-control" id="selectDuration"
                                    ng-init="saveParamData.Duration=parameter.Duration"
                                    ng-model="parameter.Duration"
                                    ng-change="saveParamData.Duration=parameter.Duration">
                                <option value="null">-- กรุณาเลือก --</option>
                                <option value="-2">สามารถใช้ Bundle ได้ไม่จำกัดจำนวน (Unlimited Capping)</option>
                                <option value="">สามารถใช้ Bundle ได้ตามจำนวนที่ระบุเท่านั้น (Limited Capping)</option>
                                <option value="0">Not Allow</option>

                            </select>
                        </div>
                        <div class="col-md-2">
                            <input type="text" id="txtDuration"
                                   ng-show="parameter.Duration>=1 || parameter.Duration == ''"
                                   ng-model="saveParamData.Duration"
                                   placeholder=""
                                   maxlength="10"
                                   class="form-control" style="width:110px;"
                                   ng-numeric="isNumberDuration">
                        </div>
                    </div>
                    <div class="form-group">
                        
                        <div class="col-md-3 hidden-sm">
                            
                        </div>
                        <div class="col-md-5 hidden-sm" >
                            
                        </div>
                         <div class="col-md-4">
                        <span ng-span-numeric="isNumberDuration"  class="hide"style="color:red;">
                            กรุณากรอกเฉพาะตัวเลขเท่านั้น
                        </span>
                    </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Duration cap max UOM <span style="color:red;">*</span> </label>
                        <div class="col-md-3">
                            <select class="form-control"
                                    ng-options="item.id as item.value for item in capMaxParameterList['durationCapMaxUOMCombo']"
                                    ng-model="capMaxParameterList['duration-capmax-uom']"
                                    ng-disabled="parameter.Duration=='null' || parameter.Duration=='0' || parameter.Duration=='-2'"></select>
                        </div>

                    </div>
                </div>
                &nbsp;
            </div>
            <div ng-show="specialOfferType.CUG">
                <div class="form-group">
                    <div class="col-md-3" style=" text-align: right; top: 5px;">
                        <label>CUG <span style="color:red;">*</span></label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" ng-model="saveDataCUG.name" readonly class="form-control">
                    </div>
                    <div class="col-md-2" ng-submit="onFilterCUGId()">
                        <input id="txtSearchCUG" type="text"
                               ng-model="saveDataCUG.filter"
                               ng-keyup="$event.keyCode==13 && onFilterCUGId()"
                               placeholder="ค้นหา" class="form-control">
                    </div>

                    <div class="col-md-1 right">
                        <span class="input-group right" style="background-color: #37B624;">
                            <!--<a href="#s" 
                               class="btn" 
                               onclick="return false;" 
                               data-toggle="modal">
                            <span style="color:white;">...</span></a>-->
                            <button ng-click="onModalCUG()"
                                    ng-disabled="!isCustomerProfile"
                                    href="#modalCUG"
                                    class="btn"
                                    id="idModalCUG"
                                    onclick="return false;"
                                    data-toggle="modal" style="background-color: #5cb85c; border-color: #4cae4c; ">
                                <span style="color:white;">...</span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            &nbsp;
            <div ng-show="specialOfferType.FF">
                <div class="form-group">
                    <label class="col-md-3 control-label">F&F <span style="color:red;">*</span> </label>
                    <div class="col-md-3" ng-show="ffData.max >= 1">
                        <input type="text" placeholder="" maxlength="10" class="form-control telephone" id="txtFF1" ng-model="saveParamData.ff1" ng-blur="onCheckFF();onBlurTelFF(1);" ng-number-only="ifff" ng-keyup="onInputFF($event.keyCode);onInputTelZeroFF($event.keyCode,1)">

                    </div>
                    <div class="col-md-3" ng-show="ffData.max >= 2">
                        <input type="text" placeholder="" maxlength="10" class="form-control telephone" id="txtFF2" ng-model="saveParamData.ff2" ng-blur="onCheckFF();onBlurTelFF(2);" ng-number-only="ifff" ng-keyup="onInputFF($event.keyCode);onInputTelZeroFF($event.keyCode,2)">

                    </div>
                </div>
                <div class="form-group" ng-show="ffData.max >= 3">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3" ng-show="ffData.max >= 3">
                        <input type="text" placeholder="" maxlength="10" class="form-control telephone" id="txtFF3" ng-model="saveParamData.ff3" ng-blur="onCheckFF();onBlurTelFF(3);" ng-number-only="ifff" ng-keyup="onInputFF($event.keyCode);onInputTelZeroFF($event.keyCode,3)">

                    </div>
                    <div class="col-md-3" ng-show="ffData.max >= 4">
                        <input type="text" placeholder="" maxlength="10" class="form-control telephone" id="txtFF4" ng-model="saveParamData.ff4" ng-blur="onCheckFF();onBlurTelFF(4);" ng-number-only="ifff" ng-keyup="onInputFF($event.keyCode);onInputTelZeroFF($event.keyCode,4)">

                    </div>
                </div>
                <div class="form-group" ng-show="ffData.max >= 5">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3" ng-show="ffData.max >= 5">
                        <input type="text" placeholder="" maxlength="10" class="form-control telephone" id="txtFF5" ng-model="saveParamData.ff5" ng-blur="onCheckFF();onBlurTelFF(5);" ng-number-only="ifff" ng-keyup="onInputFF($event.keyCode);onInputTelZeroFF($event.keyCode,5)">

                    </div>
                    <div class="col-md-3" ng-show="ffData.max >= 6">
                        <input type="text" placeholder="" maxlength="10" class="form-control telephone" id="txtFF6" ng-model="saveParamData.ff6" ng-blur="onCheckFF();onBlurTelFF(6);" ng-number-only="ifff" ng-keyup="onInputFF($event.keyCode);onInputTelZeroFF($event.keyCode,6)">

                    </div>
                </div>
                <div class="form-group" ng-show="ffData.max >= 7">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3" ng-show="ffData.max >= 7">
                        <input type="text" placeholder="" maxlength="10" class="form-control telephone" id="txtFF7" ng-model="saveParamData.ff7" ng-blur="onCheckFF();onBlurTelFF(7);" ng-number-only="ifff" ng-keyup="onInputFF($event.keyCode);onInputTelZeroFF($event.keyCode,7)">

                    </div>
                    <div class="col-md-3" ng-show="ffData.max >= 8">
                        <input type="text" placeholder="" maxlength="10" class="form-control telephone" id="txtFF8" ng-model="saveParamData.ff8" ng-blur="onCheckFF();onBlurTelFF(8);" ng-number-only="ifff" ng-keyup="onInputFF($event.keyCode);onInputTelZeroFF($event.keyCode,8)">

                    </div>
                </div>
                <div class="form-group" ng-show="ffData.max >= 9">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3" ng-show="ffData.max >= 9">
                        <input type="text" placeholder="" maxlength="10" class="form-control telephone" id="txtFF9" ng-model="saveParamData.ff9" ng-blur="onCheckFF();onBlurTelFF(9);" ng-number-only="ifff" ng-keyup="onInputFF($event.keyCode);onInputTelZeroFF($event.keyCode,9)">

                    </div>
                    <div class="col-md-3" ng-show="ffData.max >= 10">
                        <input type="text" placeholder="" maxlength="10" class="form-control telephone" id="txtFF10" ng-model="saveParamData.ff10" ng-blur="onCheckFF();onBlurTelFF(10);" ng-number-only="ifff" ng-keyup="onInputFF($event.keyCode);onInputTelZeroFF($event.keyCode,10)">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3">
                        <span ng-span-number-only="ifff" class="hide" style="color:red;">
                            กรุณากรอกเฉพาะตัวเลขเท่านั้น
                        </span>
                         <span ng-show="isNumberTelLengthFF" style="color:red;">
                            กรุณากรอกหมายเลข9-10ตัว
                        </span>
                        <span ng-show="isNumberTelZeroFF" style="color:red;">
                            กรุณากรอก 0 เป็นตัวแรก
                        </span>
                    </div>
                    <div class="col-md-3">
                        
                    </div>
                </div>
                

            </div>
        </div>
    </div>
</div>








<!-- modalCUG -->

<div id="modalCUG" tabindex="-1" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5>CUG</h5>
                
            </div>-->
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <input type="text" placeholder="ค้นหา" ng-model="saveDataCUG.filter" class="form-control">
                    </div>
                </div>
                &nbsp;
                <div class="table-responsive">
                    <label class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-1">&nbsp;</div>
                            <div class="col-xs-6">
                                <span style="color:green;"><b> Group ID</b></span>
                            </div>
                            <div class="col-xs-5 text-center">
                                <span style="color:green;"><b> Group Name</b></span>
                            </div>
                        </div>
                    </label>
                    <table class="table" style="width: 98%; margin-bottom: 0px;">

                        <!--<tr class="row" ng-repeat="item in cugList | filter: saveDataCUG.filter">-->
                        <tr class="row"
                            dir-paginate="item in cugList | filter: onSearchCUG  | itemsPerPage: pageSize_cug"
                            current-page="currentPage_cug" pagination-id="cugList">

                            <th style="padding: 5px; padding-bottom: 0px;">
                                <label class="col-xs-12" style="cursor:pointer;" ng-click="onSelectCUG(item)">
                                    <div class="row">
                                        <div class="col-xs-1"><input name="pricelsx" type="radio" class="radioCUG" /></div>
                                        <div class="col-xs-6">{{item['group-id']}}</div>
                                        <div class="col-xs-5 text-center">{{item['group-name']}}</div>
                                    </div>
                                </label>
                            </th>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-center" style="margin-bottom: 0px;">
                                <style>
                                    .pagination {
                                        margin: 0;
                                    }
                                </style>
                                <div dir-pagination-controls pagination-id="cugList" boundary-links=" true" template-url="lib/paging/dirPagination.tpl.html?v=3456785999000"></div>
                            </td>
                        </tr>


                    </table>

                </div>



                <div id="div_event"></div>
            </div>
            <div class="modal-footer">

                <button class="btn btn-success" ng-click="onSetValueCUG()" ng-disabled="!isSelectCUGList" data-dismiss="modal">เลือก</button>
                <button class="btn btn-cancel" ng-click="onCancelCUG()" data-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>