
<h4 style="margin-top:-10px;">ข้อมูลหมายเลขแบบใหม่</h4>
<div class="well">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-md-3 control-label">รายการส่งเสริมการขาย</label>
            <div class="col-md-8">
                <!--<select ng-change="changesaleList()" class="form-control" ng-model="saleList" ng-options="key as value for (key , value) in datalsSale"></select>-->
                <select id="selectProposition"
                        ng-disabled="!isCustomerProfile"
                        class="form-control isCustomerProfile"
                        ng-focus="selectedPricePlan3()"
                        ng-blur="selectedPromotion()"
                        ng-model="propoCode"
                        ng-change="onClearPricePlan()">
                    <option value="null">-- กรุณาเลือก --</option>
                    <option ng-repeat="item in propositions | orderBy: 'description'" value="{{item['proposition-code']}}">
                        [{{item["proposition-code"]}}] {{item["name"]}} : {{item["description"]}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group" ng-show="Level=='OU'">
            <label class="col-md-3 control-label">ประเภทโปรโมชั่น<!--<span style="color:red">*</span>--></label>
            <div class="col-md-8" id="priceplan_sl">
                <select class="form-control"
                        ng-disabled="!isCustomerProfile"
                        ng-model="PPTypeId"
                        id="PPTypeId"
                        ng-change="selectedPricePlan4()">
                    <option value="">เลือก</option>
                    <option value="N">Normal</option>
                    <option value="SH">Share Allowance</option>
                    <option value="PD">Pooled</option>

                </select>
            </div>
        </div>

        <!--Include-->
        <div ng-include="template.modalPricePlan"></div>


        <div class="form-group" ng-show="shopType=='0' || getAuthen['isSecondAuthen'] == false">
            <label class="col-md-3 control-label">เหตุผล<span style="color:red;"> *</span></label>
            <div class="col-md-5">

                <select id="selectReasonId" ng-disabled="!isCustomerProfile" ng-options="option.dec for option in reasons" ng-change="onReasonChange()" ng-model="reason" class=" form-control"></select>

            </div>
        </div>
        <div class="form-group" style="margin-bottom:-2px;" >
            <label class="col-md-3 control-label">บันทึก</label>
            <div class="col-md-5">
                <textarea ng-disabled="!isCustomerProfile" class="form-control isCustomerProfile" name="message" ng-model="saveData.memo" style="width:100%;height:50px;resize:none  "></textarea>
            </div>
        </div>

    </div>
</div>

