<div ng-include="template.landingheader"></div>

<div class="container" id="orderDeviceContent">
    <div class="row content">
        <div class="col-md-9 col-md-offset-2 sale-main">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="pull-left ttl_main_sale"></h4>
                </div>
                <div class="col-md-6">
                    <a href="javascript:;" class="pull-right viewall"> </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-1"> </div>
                        <div class="col-md-4">
                            <h5>iPhone 6 Plus</h5>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="box-sale-4">
                                <div class="product_img">

                                    <img src="images/product/iPhone_6_Plus.png" />
                                    <div class="product_img_3g">
                                        <ul></ul>
                                    </div>
                                </div>

                                <div class="product_price">

                                </div>

                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-3">
                                    <div class="row">
                                        <b>&nbsp; Available</b>
                                    </div>
                                    <div class="row">
                                        <p class="btn btn-info"><b>16 GB</b><br /> 23,450 บาท</p>
                                    </div>
                                    <div class="row">
                                        <p><input type="text" onfocus="" class="form-control" style="border-radius:20px; width:100px;" /> </p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="row">
                                        <b>&nbsp; Available</b>
                                    </div>
                                    <div class="row">
                                        <p class="btn btn-info"><b>32 GB</b><br /> 33,400 บาท</p>
                                    </div>
                                    <div class="row">
                                        <p><input type="text" onfocus="" class="form-control" style="border-radius: 20px; width: 100px;" /> </p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="row">
                                        <b>&nbsp; Available</b>
                                    </div>
                                    <div class="row">
                                        <p class="btn btn-info"><b>64 GB</b><br /> 37,300 บาท</p>
                                    </div>
                                    <div class="row">
                                        <p><input type="text" onfocus="" class="form-control" style="border-radius: 20px; width: 100px;" /> </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-3">
                                    <div class="row">
                                        <b>&nbsp; Available</b>
                                    </div>
                                    <div class="row">
                                        <p class="btn btn-info"><b>16 GB</b><br /> 23,450 บาท</p>
                                    </div>
                                    <div class="row">
                                        <p><input type="text" onfocus="" class="form-control" style="border-radius:20px; width:100px;" /> </p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="row">
                                        <b>&nbsp; Available</b>
                                    </div>
                                    <div class="row">
                                        <p class="btn btn-info"><b>32 GB</b><br /> 33,400 บาท</p>
                                    </div>
                                    <div class="row">
                                        <p><input type="text" onfocus="" class="form-control" style="border-radius: 20px; width: 100px;" /> </p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="row">
                                        <b>&nbsp; Available</b>
                                    </div>
                                    <div class="row">
                                        <p class="btn btn-info"><b>64 GB</b><br /> 37,300 บาท</p>
                                    </div>
                                    <div class="row">
                                        <p><input type="text" onfocus="" class="form-control" style="border-radius: 20px; width: 100px;" /> </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-3">
                                    <div class="row">
                                        <b>&nbsp; Available</b>
                                    </div>
                                    <div class="row">
                                        <p class="btn btn-info"><b>16 GB</b><br /> 23,450 บาท</p>
                                    </div>
                                    <div class="row">
                                        <p><input type="text" onfocus="" class="form-control" style="border-radius: 20px; width: 100px;" /> </p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="row">
                                        <b>&nbsp; Available</b>
                                    </div>
                                    <div class="row">
                                        <p class="btn btn-info"><b>32 GB</b><br /> 33,400 บาท</p>
                                    </div>
                                    <div class="row">
                                        <p><input type="text" onfocus="" class="form-control" style="border-radius: 20px; width: 100px;" /> </p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="row">
                                        <b>&nbsp; Available</b>
                                    </div>
                                    <div class="row">
                                        <p class="btn btn-info"><b>64 GB</b><br /> 37,300 บาท</p>
                                    </div>
                                    <div class="row">
                                        <p><input type="text" onfocus="" class="form-control" style="border-radius: 20px; width: 100px;" /> </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-1">

                            </div>
                            <div class="col-md-4">
                                <h5>I Phone 6 Plus (สีทอง)</h5>
                            </div>
                            <div class="col-md-5">

                            </div>
                            <div class="col-md-2">
                                <h5>29,450 บาท</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">

                        </div>
                       
                        <div class="col-md-6">
                            <button class="btn btn-success" ng-click="promotion()">โปรโมชั่น</button>
                            <button class="btn btn-cancel" ng-click="buyDevice()">ซื้อเครื่องเปล่า</button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
