<div class="container">
    <div class="content-top">
    </div>
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="profile">
                    <h5></h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-9">
                        <div class="box-pre">
                            <ul>
                                <li class="box_backlist">
                                    <a class="various3 fancybox fancybox.iframe" href="#/sale" onclick="return false">
                                        <div class="box-pre-dt01">
                                            <p>ทรูมูฟเอช รายเดือน</p>
                                            <h3>0865333463</h3>
                                            <h4>PLSMAP10: 4G iSmart399, V450m, WIFI, TVS1GB, Free5GB 6m.6m PLSMAP10: 4G iSmart399, V450m, WIFI, TVS1GB, Free5GB 6m.6m </h4>

                                        </div>
                                        <div class="box-pre-dt02">
                                            <div class="icon_tt">
                                                <span class="input-group-btn">
                                                    <button title="" type="button" data-toggle="tooltip" class="btn icon_backlist" data-original-title="Backlist">
                                                        <a href="#" class="socials-small"></a>
                                                    </button>
                                                </span>
                                            </div>
                                            <div class="box-pre-dt">
                                                <a class="various3" href="#/changePricePlan">
                                                    <span class="icon_pre-dt"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="box_full">
                                    <a class="various3" href="#/changePricePlan">
                                        <div class="box-pre-dt01">
                                            <p>ทรูมูฟเอช รายเดือน</p>
                                            <h3>0865333463</h3>
                                            <h4>PLSMAP10: 4G iSmart399, V450m, WIFI, TVS1GB, Free5GB 6m.6m</h4>
                                        </div>
                                        <div class="box-pre-dt02">
                                            <div class="icon_tt">
                                                <span class="input-group-btn">
                                                    <button title="" type="button" data-toggle="tooltip" class="btn icon_full" data-original-title="Full Suspend">
                                                        <a href="#" class="socials-small"></a>
                                                    </button>
                                                </span>
                                            </div>

                                            <div class="box-pre-dt">
                                                <a class="various3" href="#/changePricePlan">
                                                    <span class="icon_pre-dt"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="box_soft">
                                    <a class="various3" href="#/changePricePlan">
                                        <div class="box-pre-dt01">
                                            <p>ทรูมูฟเอช รายเดือน</p>
                                            <h3>0865333463</h3>
                                            <h4>PLSMAP10: 4G iSmart399, V450m, WIFI, TVS1GB, Free5GB 6m.6m</h4>
                                        </div>
                                        <div class="box-pre-dt02">
                                            <div class="icon_tt">
                                                <span class="input-group-btn">
                                                    <button title="" type="button" data-toggle="tooltip" class="btn icon_soft" data-original-title="Soft Suspend">
                                                        <a href="#" class="socials-small"></a>
                                                    </button>

                                                </span>
                                            </div>
                                            <div class="box-pre-dt">
                                                <a class="various3" href="#/changePricePlan">
                                                    <span class="icon_pre-dt"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="box_active">
                                    <a class="various3" href="#/changeOwnership">
                                        <div class="box-pre-dt01">
                                            <p>ทรูมูฟเอช รายเดือน</p>
                                            <h3>0865333463</h3>
                                            <h4>PLSMAP10: 4G iSmart399, V450m, WIFI, TVS1GB, Free5GB 6m.6m</h4>
                                        </div>
                                        <div class="box-pre-dt02">
                                            <div class="icon_tt">
                                                <span class="input-group-btn">
                                                    <button title="" type="button" data-toggle="tooltip" class="btn icon_active" data-original-title="Active">
                                                        <a href="#" class="socials-small"></a>
                                                    </button>
                                                </span>
                                            </div>
                                            <div class="box-pre-dt">
                                                <a class="various3" href="#/changePricePlan">
                                                    <span class="icon_pre-dt"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="box_cancel">
                                    <a class="various3" href="#/changePricePlan">
                                        <div class="box-pre-dt01">
                                            <p>ทรูมูฟเอช รายเดือน</p>
                                            <h3>0865333463</h3>
                                            <h4>PLSMAP10: 4G iSmart399, V450m, WIFI, TVS1GB, Free5GB 6m.6m</h4>
                                        </div>
                                        <div class="box-pre-dt02">
                                            <div class="icon_tt">
                                                <span class="input-group-btn">
                                                    <button title="" type="button" data-toggle="tooltip" class="btn icon_cancel" data-original-title="Cancel">
                                                        <a href="#" class="socials-small"></a>
                                                    </button>
                                                </span>
                                            </div>
                                            <div class="box-pre-dt">
                                                <a class="various3" href="#/changePricePlan">
                                                    <span class="icon_pre-dt"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="box_vip">
                                    <a class="various3" href="#/changePricePlan">
                                        <div class="box-pre-dt01">
                                            <p>ทรูมูฟเอช รายเดือน</p>
                                            <h3>0865333463</h3>
                                            <h4>PLSMAP10: 4G iSmart399, V450m, WIFI, TVS1GB, Free5GB 6m.6m</h4>
                                        </div>
                                        <div class="box-pre-dt02">
                                            <div class="icon_tt">
                                                <span class="input-group-btn">
                                                    <button title="" type="button" data-toggle="tooltip" class="btn icon_vip" data-original-title="VIP">
                                                        <a href="#" class="socials-small"></a>
                                                    </button>
                                                    <button title="" type="button" data-toggle="tooltip" class="btn icon_active" data-original-title="Active">
                                                        <a href="#" class="socials-small"></a>
                                                    </button>
                                                </span>
                                            </div>
                                            <div class="box-pre-dt">
                                                <a class="various3" href="#/changePricePlan">
                                                    <span class="icon_pre-dt"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </a>
                                </li>

                                <li class="add_move"><a href="#"><span>เปิดบริการ</span></a></li>
                            </ul>
                        </div>

                        <div class="box-pre box_true_vis">
                            <div class="logo_true_vis"> <h5></h5></div>

                            <ul class="ul_true_vis">
                                <li>
                                    <a class="various3" href="truevis-retention-terminate.html">
                                        <div class="box-truevis01">
                                            <p>ทรูวิชั่น</p>
                                            <h3>69949470</h3>
                                            <h4>GOLD Package</h4>
                                        </div>
                                        <div class="box-truevis02">
                                            <span></span>
                                        </div>
                                    </a>

                                </li>
                            </ul>

                        </div>

                        <div class="box-pre box_true_online">
                            <div class="logo_true_online"> <h5></h5></div>

                            <ul class="ul_true_on">
                                <li>
                                    <a class="various3" href="trueonline-retention-terminate.html">
                                        <div class="box-trueon01">
                                            <p>ทรูออนไลน์</p>
                                            <h3>9100198785</h3>
                                            <h4>Change Ultra hi-speed 2013  (Q3)15M/1.5M+RTWIFI(D2)</h4>
                                        </div>
                                        <div class="box-trueon02">
                                            <span></span>
                                        </div>
                                    </a>

                                </li>
                            </ul>
                        </div>

                        <div class="box-pre box_sookx2 hide">
                            <div class="logo_sookx2"> <h5></h5></div>

                            <ul class="ul_sookx">
                                <li class="add-sook"><a href="#"><span>+ เพิ่ม</span></a></li>
                            </ul>

                        </div>

                        <div class="box-pre box_sookx3 hide">
                            <div class="logo_sookx3"> <h5></h5></div>

                            <ul class="ul_sookx">
                                <li class="add-sook"><a href="#"><span>+ เพิ่ม</span></a></li>
                            </ul>

                        </div>

                    </div>
                    <div class="col-md-2 box_note_productlist">
                        <div class="box_note_inner">
                            <ul>
                                <p>หมายเหตุ : สถานะข้อมูลลูกค้า</p>
                                <li>
                                    <p class="icon_backlist"></p>
                                    <p>Backlist</p>
                                </li>
                                <li>
                                    <p class="icon_full"></p>
                                    <p>Full Suspend</p>
                                </li>
                                <li>
                                    <p class="icon_soft"></p>
                                    <p>Soft Suspend</p>
                                </li>
                                <li>
                                    <p class="icon_active"></p>
                                    <p>Active</p>
                                </li>
                                <li>
                                    <p class="icon_cancel"></p>
                                    <p>Cancel</p>
                                </li>
                                <li>
                                    <p class="icon_vip"></p>
                                    <p>VIP</p>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>