<div ng-include="template.landingheader"></div>

<div class="container" id="orderDeviceContent">
    <div class="row content">
        <div class="col-md-12 sale-main">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="pull-left ttl_main_sale"></h4>
                </div>
                <div class="col-md-6">
                    <a href="javascript:;" class="pull-right viewall"> </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <h4>iPhone 6 Plus</h4>
                            </div>
                            <div class="box-sale-4">
                                <div class="product_img">

                                    <img src="images/product/iPhone_6_Plus.png" />
                                    <div class="product_img_3g">
                                        <ul></ul>
                                    </div>
                                </div>

                                <div class="product_price">
                                    <h4>I Phone 6 Plus (สีทอง)</h4>
                                </div>

                            </div>
                        </div>
                        <div id="defalutpromotion" class="col-md-8" ng-show="defalutpromotion = 'D'">
                            <div class="row">
                                <h4>Campaing</h4>
                                <div class="row">
                                    <a href="" data-toggle="modal" data-target=".modalPromotion">
                                        <div class="well">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <b>RS499 TC_iPhone 6 & 6 Plus discount 5000bt</b>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <ul>
                                                        <li>
                                                            เลือก Promotion  ismart  499, 699, 899 หรือ Jumbo 599, 799, 999
                                                        </li>
                                                        <li>
                                                            ชำระล่วงหน้า 6 เดือน สัญญา 12 เดือน
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <b>ราคาเครื่องลด  5000 บาท เหลือ  24,450 บาท</b>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="" data-toggle="modal" data-target=".modalPromotion">
                                        <div class="well">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <b>RS491 RF_Existing iPhone 6 & 6 Plus discount 500</b>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <ul>
                                                        <li>
                                                            เลือก Promotion  ismart  499, 699, 899 หรือ Jumbo 599, 799, 999
                                                        </li>
                                                        <li>
                                                            ชำระล่วงหน้า 6 เดือน สัญญา 12 เดือน
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <b>ราคาเครื่องลด  5000 บาท เหลือ  24,450 บาท</b>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                            </div>
                            <div class="row">
                                <h4>Promotion Set</h4>
                                <div class="row">
                                    <a href="" data-toggle="modal" data-target=".modalPromotion">
                                        <div class="well" style="background-color:pink">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <b>PT343 Device with Sim(TUC)</b>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <ul>
                                                        <li>
                                                            ซื้อเครื่องพร้อมเปิดบริการหมายเลข True Move H (TUC)
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="" data-toggle="modal" data-target=".modalPromotion">
                                        <div class="well" style="background-color:pink">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <b>PT343 Device with Sim(RMV)</b>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <ul>
                                                        <li>
                                                            ซื้อเครื่องพร้อมเปิดบริการหมายเลข True Move H (RMV)
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </a>

                                </div>

                            </div>

                        </div>
                        <div class="col-md-8" id="selectpromotion">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>ตรวจสอบสิทธิ์</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <b>RS491  RF_Existing iPhone 6 & 6 Plus discount 5000</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>หมายเลขบัตรประชาชน/พาสปอร์ต</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>หมายเลขโทรศัพท์</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">

                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-success" ng-click="submitAuthen()">ตกลง</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8" id="eformpromotion">
                            <div class="row">
                                <div class="col-md-12">
                                    <b>RS491  RF_Existing iPhone 6 & 6 Plus discount 5000</b>
                                </div>
                            </div>
                            <div class="well" style="background-color: #f8bf1a;">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div data-toggle="buttons" class="btn-group btn-group-justified">
                                            <input type="radio" name="opennum" ng-model="serviceType" value="N"> เปิดบริการหมายเลขใหม่
                                            <input type="radio" name="opennum" ng-model="serviceType" value="B"> ใช้บริการหมายเลขเดิม

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>ประเภทลูกค้าย่อย <span style="color:red;">*</span></label>
                                            <select ng-model="subCompanyType" ng-options="key as value for (key , value) in subCompanyTypeOptions" class="form-control">
                                                <!--<option>เลือก</option>-->
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>ประเภทลูกค้าย่อย <span style="color:red;">*</span></label>
                                            <select ng-model="subCompanyType" ng-options="key as value for (key , value) in subCompanyTypeOptions" class="form-control">
                                                <!--<option>เลือก</option>-->
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <tr class="row">
                                                    <th class="col-md-1"></th>
                                                    <th class="col-md-2">MSISDN</th>
                                                    <th class="col-md-1">BAN</th>
                                                    <th class="col-md-2">Active Date</th>
                                                    <th class="col-md-2">Price Plan</th>
                                                    <th class="col-md-1">Port In</th>
                                                    <th class="col-md-1">Operator</th>
                                                    <th class="col-md-1">Status</th>
                                                    <th class="col-md-1">Remark</th>
                                                </tr>
                                                <tr class="row ">
                                                    <th class="col-md-1"><input type="radio" /> </th>
                                                    <th class="col-md-2">0901234567</th>
                                                    <th class="col-md-1">22769</th>
                                                    <th class="col-md-2">12/12/2014</th>
                                                    <th class="col-md-2">PLSMAP10</th>
                                                    <th class="col-md-1">Y</th>
                                                    <th class="col-md-1">TMV</th>
                                                    <th class="col-md-1">A</th>
                                                    <th class="col-md-1"></th>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Price Plan </label>
                                            <div class="col-md-3" id="priceplan_sl">
                                                <input readonly="readonly" type="text" ng-model="pricePlan.name" class="form-control">
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" placeholder="ค้นหา" ng-model="pricePlan.pricePlanFilter" id="ppfilter" class="form-control pricePlanFilter">
                                            </div>
                                            <div class="col-md-3">
                                                <span class="input-group" style="background-color: #37B624;">
                                                    <a ng-click="selectedPricePlan3()" href="#modalPricePlan" id="modalnewpriceplan" class="btn" onclick="return false;" data-toggle="modal"><span style="color:white;">...</span></a>
                                                </span>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-8">

                                    </div>
                                    <div class="col-md-4">
                                        <button class="btn btn-success" ng-click="nextPayment()">ถัดไป</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalPromotion" tabindex="-1" class="modal fade modalPromotion" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="btnReadCardClose" class="close" data-dismiss="modal">&times;</button>
                <h5>รายการส่งเสริมการขาย</h5>

            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table">
                        <tr class="row">
                            <th class="col-md-1" style="background-color: #c8bbbb; "></th>
                            <th class="col-md-7" style="background-color: #c8bbbb; "><span> แลกซื้อ 1,000 บาท</span></th>
                            <th class="col-md-3" style="background-color: #c8bbbb; "><span></span></th>

                        </tr>
                        <tr class="row ">
                            <th class="col-md-1"><input name="pricels" type="radio" ng-change="selectedPricePlan(pp)" ng-model="pricePlan.name" ng-value="pp.pricePlan" /></th>
                            <th class="col-md-7">9000008957 SPIGEN iP6+ Leather Fit Blue</th>
                            <th class="col-md-3">1,290.00</th>

                        </tr>
                        <tr class="row ">
                            <th class="col-md-1"><input name="pricels" type="radio" ng-change="selectedPricePlan(pp)" ng-model="pricePlan.name" ng-value="pp.pricePlan" /></th>
                            <th class="col-md-7">3000036275 Acc,H/S,Bumbper Case iP6+ 5.5</th>
                            <th class="col-md-3">1,090.00</th>

                        </tr>
                        <tr class="row ">
                            <th class="col-md-1"><input name="pricels" type="radio" ng-change="selectedPricePlan(pp)" ng-model="pricePlan.name" ng-value="pp.pricePlan" /></th>
                            <th class="col-md-7">3000035785 ACC,H/S,IPH 6P,CASE,BLACK</th>
                            <th class="col-md-3">1,890.00</th>

                        </tr>

                    </table>
                    <table class="table">
                        <tr class="row">
                            <th class="col-md-1" style="background-color: #c8bbbb; "></th>
                            <th class="col-md-7" style="background-color: #c8bbbb; "><span> ฟรี</span></th>
                            <th class="col-md-3" style="background-color: #c8bbbb; "><span></span></th>

                        </tr>
                        <tr class="row ">
                            <th class="col-md-1"><input name="pricels" type="radio" ng-change="selectedPricePlan(pp)" ng-model="pricePlan.name" ng-value="pp.pricePlan" /></th>
                            <th class="col-md-7">3000040760 Acc,H/S,Pikachu PM-P-004 19inc</th>
                            <th class="col-md-3">790.00</th>

                        </tr>


                    </table>
                </div>

                <div id="div_event"></div>
            </div>
            <div class="modal-footer">

                <button class="btn btn-success" data-dismiss="modal" ng-click="selectedPromotion()">ตกลง</button>

            </div>
        </div>
    </div>
</div>

<div id="modalopennumber" tabindex="-1" class="modal fade modalopenservice" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="btnSecoundAuthenClose" class="close" data-dismiss="modal">&times;</button>
                <h4 class="blue bigger">
                    เปิดบริการใหม่
                </h4>
                <div class="row">
                    <div class="col-md-6">
                        <div data-toggle="buttons" class="btn-group btn-group-justified">
                            <label class="btn btn-default active" ng-click="changeType('N')">
                                <input type="radio" name="type" ng-model="serviceType" value="N"> เปิดบริการหมายเลขใหม่
                            </label>
                            <label class="btn btn-default" ng-click="changeType('B')">
                                <input type="radio" name="type" ng-model="serviceType" value="B"> ใช้บริการหมายเลขเดิม
                            </label>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>ประเภทลูกค้าย่อย <span style="color:red;">*</span></label>
                            <select ng-model="subCompanyType" ng-options="key as value for (key , value) in subCompanyTypeOptions" class="form-control">
                                <!--<option>เลือก</option>-->
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>ประเภทลูกค้าย่อย <span style="color:red;">*</span></label>
                            <select ng-model="subCompanyType" ng-options="key as value for (key , value) in subCompanyTypeOptions" class="form-control">
                                <!--<option>เลือก</option>-->
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>หมายเลขโทรศัพท์ที่ต้องการเปิดบริการใหม่ <span style="color:red;">*</span></label>
                            <input type="text" class="form-control" />

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>หมายเลขโทรศัพท์ที่ลูกค้าจองไว้ <span style="color:red;">*</span></label>
                            <textarea class="form-control" style="height:100%"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Sim Serial </label>
                            <input type="text" class="form-control" />

                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Price Plan </label>
                            <div class="col-md-4" id="priceplan_sl">
                                <input readonly="readonly" type="text" ng-model="pricePlan.name" class="form-control">
                            </div>
                            <div class="col-md-2">
                                <input type="text" placeholder="ค้นหา" ng-model="pricePlan.pricePlanFilter" id="ppfilter" class="form-control pricePlanFilter">
                            </div>
                            <div class="col-md-2">
                                <span class="input-group" style="background-color: #37B624;">
                                    <a ng-click="selectedPricePlan3()" href="#modalPricePlan" id="modalnewpriceplan" class="btn" onclick="return false;" data-toggle="modal"><span style="color:white;">...</span></a>
                                </span>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <a href="" ng-click="openTruemove()" data-dismiss="modal" class="btn btn-default" style="width:100px;">ถัดไป</a>
            </div>
        </div>
    </div>
</div>

<div id="modalPricePlan" tabindex="-1" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="btnReadCardClose" class="close" data-dismiss="modal">&times;</button>
                <h5>Price Plan</h5>

            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <input type="text" placeholder="ค้นหา" ng-model="pricePlan.pricePlanFilter" id="ppfilter2" class="form-control pricePlanFilter">
                </div>
                &nbsp;
                <div class="table-responsive">
                    <table class="table">
                        <!--<tr class="row">
                            <th class="col-md-1"></th>
                            <th class="col-md-7"><span style="color:green;"> Price Plan</span></th>
                            <th class="col-md-1" style="text-align: center;"><span style="color:green;"> RC</span></th>
                            <th class="col-md-3"><span style="color:green;"> รายการส่งเสริมการขาย</span></th>

                        </tr>-->
                        <!--<tr class="row " ng-repeat="pp in pricePlans | filter:pricePlanFilter">
                            <th class="col-md-1"><input name="pricels" type="radio" ng-change="selectedPricePlan(pp)" ng-model="pricePlan.name" ng-value="pp.pricePlan" /></th>
                            <th class="col-md-7">{{pp.pricePlan}}</th>
                            <th class="col-md-1" style="text-align:center;">{{pp.rc}}</th>
                            <th class="col-md-3">{{pp.promotion}}</th>

                        </tr>-->
                        <tr>
                            <th colspan="5">
                                <label class="col-xs-12">
                                    <div class="row">
                                        <div class="col-xs-1">&nbsp;</div>
                                        <div class="col-xs-7"><span style="color:green;"><h6>Price Plan</h6></span></div>
                                        <div class="col-xs-1"><span style="color:green;text-align:center;"><h6>RC</h6></span></div>
                                        <div class="col-xs-3"><span style="color:green;"><h6>รายการส่งเสริมการขาย</h6></span></div>
                                    </div>
                                </label>
                            </th>
                        </tr>
                        <tr ng-repeat="pp in pricePlans | filter:pricePlan.pricePlanFilter | orderBy:'pricePlan'">
                            <th colspan="5">
                                <label class="col-xs-12" style="cursor:pointer;">
                                    <div class="row">
                                        <div class="col-xs-1"><input name="pricelsx" type="radio" ng-change="selectedPricePlan(pp)" ng-model="pricePlan2.name" ng-value="pp.pricePlan" /></div>
                                        <div class="col-xs-7">{{pp.pricePlan}}</div>
                                        <div class="col-xs-1 text-center">{{pp.rc | number}}</div>
                                        <div class="col-xs-3" style="text-align:center;">{{pp.promotion}}</div>
                                    </div>
                                </label>
                            </th>
                        </tr>
                    </table>
                </div>

                <div id="div_event"></div>
            </div>
            <div class="modal-footer">

                <button class="btn btn-success" data-dismiss="modal" ng-click="selectedPricePlan2()">เลือก</button>
                <button class="btn btn-cancel" data-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>