 <h4>Reason & Memo</h4>
    <div class="well">
        <div class="form-horizontal">
            <div class="form-group" ng-hide="shopType == '1'">
                <label class="col-md-4 control-label">Reason Code<span>*</span></label>
                <div class="col-md-4">
                    <select disabled class="form-control">
                        <option>CREQ: Customer Request</option>
                        <option>เลือก</option>
                        <option>เลือก</option>
                        <option>เลือก</option>
                        <option>เลือก</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Memo</label>
                <div class="col-md-6">
                    <textarea class="" name="message" style="width:100%;height:70px;"></textarea>
                </div>
            </div>
        </div>
    </div>