<div ng-include="template.landingheader"></div>
<div class="container" id="removeOutletContent">
    <div class="content m_content">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            <h4>Remove Outlet (FiberTV)</h4>
            <div id="">
                <div ng-include="template.customerprofile" scope="" onload=""></div>
                <h4>ข้อมูลปัจจุบัน</h4>
                <div class="well" style="background-color:#ffffff">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="well">
                                <div class="row">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label class="col-md-4 control-label"><b>หมายเลข True Online :</b></label>
                                                    <label class="col-md-8 control-label" style="text-align:left;"><b>654321</b></label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label class="col-md-4 control-label">โปรโมชั่น :</label>
                                                    <label class="col-md-8 control-label" style="text-align:left;">Nationwide Cable Hight Tier</label>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label class="col-md-4 control-label">แพ็คเก็จ :</label>
                                                    <label class="col-md-8 control-label" style="text-align:left;">Platinum HD 6 จุด</label>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label class="col-md-4 control-label">สถานที่ติดตั้ง :</label>
                                                    <label class="col-md-8 control-label" style="text-align:left;">55/5 หมู่บ้าน แสนสุข ถนน เขต กรุงเทพ</label>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="well">
                                <div class="row">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label class="col-md-4 control-label"><b>หมายเลข True Online :</b></label>
                                                    <label class="col-md-8 control-label" style="text-align:left;"><b>654321</b></label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label class="col-md-4 control-label">โปรโมชั่น :</label>
                                                    <label class="col-md-8 control-label" style="text-align:left;">Nationwide Cable Hight Tier</label>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label class="col-md-4 control-label">แพ็คเก็จ :</label>
                                                    <label class="col-md-8 control-label" style="text-align:left;">Platinum HD 6 จุด</label>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label class="col-md-4 control-label">สถานที่ติดตั้ง :</label>
                                                    <label class="col-md-8 control-label" style="text-align:left;">55/5 หมู่บ้าน แสนสุข ถนน เขต กรุงเทพ</label>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h4>ข้อมูลใหม่</h4>
                <div class="well">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group imp">
                                <label>จำนวนจุดที่ remove</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group has-feedback imp">
                                <label>วันที่ติดตั้ง</label>
                                <input type="text" readonly class="form-control" id="startB1">
                                <span class="form-control-feedback is-bound"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group has-feedback imp">
                                <label>วันที่นัดเก็บอุปกรณ์</label>
                                <input type="text" readonly class="form-control" id="startB1">
                                <span class="form-control-feedback is-bound"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group imp">
                                <label>เหตุผล</label>
                                <select class="form-control">
                                    <option>เลือก</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-12 form-buttons">
                    <div class="form-group">

                        <input type="submit" value="ยินยันการแก้ไข" class="btn btn-success">
                        <input type="reset" value="ยกเลิก" class="btn btn-cancel" onclick="parent.jQuery.fancybox.close()">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
